{*Smarty template*}

<table>
<tr><td>
	<a href="javascript:popup('reposit/{$controller}/create','repositManager')" class="button">
		<span class="add">{tr}Create{/tr}</span>
	</a>
</td></tr>
</table>
