<form name="contentfilterform" id="contentfilterform" action="./search/index/index" method="post" style="display:inline;background-image: none;">
<!--{*
  <input type="hidden" name="displayHistory" value="0" />
  <label><input type="checkbox" name="displayHistory" value="1" 
    {if $filter_options.displayHistory}"checked"{/if} 
    onChange='javascript:getElementById("docfilterform").submit()';/>
  <small>{tr}Display history{/tr}</small></label>

  <input type="hidden" name="displayThumbs" value="0" />
  <label><input type="checkbox" name="displayThumbs" value="1" 
    {if $filter_options.displayThumbs}"checked"{/if} 
    onChange='javascript:getElementById("docfilterform").submit()';/>
  <small>{tr}Display thumbnails{/tr}</small></label>

  <label>
  <input size="4" type="text" name="numrows" value="{$filter_options.numrows|escape}" />
  <small>{tr}rows to display{/tr}</small></label>

  <br />

*}-->

  <label for="find_name"><small>{tr}Name{/tr}</small></label>
  <input size="16" type="text" name="find_name" value="{$filter_options.find_name}" />

  <input type="hidden" name="filter" value=1 />
  <input type="submit" name="filter" value="{tr}search{/tr}" />
</form>
