{*Smarty template*}

  <table>
<tr><td>
	<a href="import/history/get/space/{$SPACE_NAME}" class="button">
		<span class="histo">{tr}History import{/tr}</span>
	</a>
</td><td>
	<a href="import/package/get/container_id/{$container_id}/space/{$SPACE_NAME}" class="button">
		<span class="imp">{tr}Import{/tr}</span>
	</a>
</td></tr>
</table>