{*smarty_template*}
{*$dojo->requireModule("dojox.form.ListInput")*}

{*$dojo->setLocalPath('js/dojo/dojo.js')*}

{*$dojo->setDjConfigOption('parseOnLoad', true)*}
{*$dojo->registerModulePath('custom', '../custom/')*}
{*$dojo->requireModule('dijit.form.FilteringSelect')*}
{*$dojo->requireModule('custom.PairedStore')*}

{$form}

<div id="placeHere"></div>

{literal}
	<script type="text/javascript">
	</script>
	
{/literal}

<div jsId="_button" dojoType="dijit.form.Button">Un bouton?</div>

