{*Smarty template*}

<FIELDSET>
<LEGEND><a href="#" class="pagetitle">{tr}Good By{/tr}</a></LEGEND>
<table border=0>
<tr>
<td><img src="{$logo}">
<br />
<i>RANCHBE</i>&#169; {$ranchbe_version} {$ranchbe_build}
</td>
<td>Good By</td>
</tr>
</table>
</FIELDSET>
