{*Smarty template*}

<div id="page-bar">
</div>

<table border=0>
<tr>
  <td><img src="./img/ranchbe_logo_190.png"></td>
  
  <td><h1 class="pagetitle">{tr}{$isDesctivated_message}{/tr} <br />
  <i>RANCHBE</i>&#169; {$ranchbe_version} {$ranchbe_build}
  </h1>
</td></tr>
</table>

<p></p>
