{*Smarty template*}
<table>
<tr><td>
	<a href="javascript:popup('project/index/create','projectCreate')" class="button">
		<span class="add">{tr}Create{/tr}</span>
	</a>
</td><td>
	<a href="javascript:popupP('project/history/get','projetHistory', 1180, 1180)" class="button">
		<span class="histo">{tr}History{/tr}</span>
	</a>
</td><td>
	<a href="javascript:popupP('project/perms/get/resource_id/2','userPerms',550,650 )" class="button">
		<span class="key">{tr}Set permissions{/tr}</span>
	</a>
</td></tr>
</table>