{*Smarty template*}

<br /><br />
<table>
<tr><td>

<div class="menubg flt">
<img width="252" height="4"  class="top flt" />
	<ul class="menu flt">
		<li class=""><a href="#" onCLick="javascript:window.open('./Docs/API_ranchbe/html/index.html', 'Doc API RanchBE');return false;">{tr}Ranchbe API documentation{/tr}</a></li>
		<li class=""><a href="#" onCLick="javascript:window.open('./Docs/API_galaxia/html/index.html', 'Doc API Galaxia');return false;" >{tr}Galaxia API documentation{/tr}</a></li>
		<li class=""><a href="tools/index/config" >{tr}Configuration{/tr}</a></li>
		<li class=""><a href="tools/index/backup/type/SQL" >{tr}Backup of database in SQL format{/tr}</a></li>
		<li class=""><a href="tools/index/backup/type/XML" >{tr}Backup of database in XML format{/tr}</a></li>
		<li class=""><a href="javascript:popup('tools/index/gettrash','gettrash')" >{tr}Get files in trash{/tr}</a></li>
		<li class=""><a href="javascript:popup('tools/index/updatedoctypeicon','updatedoctypeicon')" title="13 Styles">{tr}Update doctypes icon{/tr}</a></li>
		<li class=""><a href="javascript:popup('tools/index/updatethumbnails','updatethumbnails')" >{tr}Update documents thumbnails{/tr}</a></li>
		<li class=""><a href="tools/index/sqlprofiling" >{tr}See SQL profiling{/tr}</a></li>
		<li class=""><a href="tools/userquery/index" >{tr}SQL Queries{/tr}</a></li>
		<li class=""><a href="javascript:popupP('tools/index/phpinfo','phpinfo', 1024, 800)" >{tr}PHP Infos{/tr}</a></li>
	</ul>	
	<img  width="252" height="3" class="bot flt" />
</div>

</td></tr>
</table>
<br /><br />
 
{*
     <!--<p><span class="button2"><a class="linkbut" 
        href="javascript:popup('tools.php?action=GetFilesRecordWithoutFile','GetFilesRecordWithoutFile')">
        {tr}Find all records wich have not real file{/tr}</a></span></p>-->

     <!--<p><span class="button2"><a class="linkbut" 
        href="javascript:popup('tools.php?action=GetFilesWithoutDocuments','GetFilesWithoutDocuments')">
        {tr}Find all records wich have not associated document{/tr}</a></span><br /></p>-->

     <!--<p><span class="button2"><a class="linkbut" 
        href="javascript:popup('tools.php?action=getDocumentsWithoutFile','getDocumentsWithoutFile')">
        {tr}Find all documents wich have not associated file{/tr}</a></span><br /></p>-->

     <!--<p><span class="button2"><a class="linkbut" 
        href="javascript:popup('tools.php?action=getDocumentsWithoutContainer','getDocumentsWithoutContainer')">
        {tr}Find all documents wich have not associated container{/tr}</a></span></p>-->

     <!--<p><span class="button2"><a class="linkbut" 
        href="javascript:popup('tools.php?action=ExportRights','ExportRights')">
        {tr}Export rights to file{/tr}</a></span></p>-->
*}

     

{*
     <!--<p><span class="button2"><a class="linkbut" 
        href="javascript:popup('./tools/index/gendoctypes','gendoctypes')">
        {tr}Generate doctype table{/tr}</a></span></p>-->
*}


{*
     <p><span class="button2"><a class="linkbut" 
        href="./tools/index/sqlrequest">
        {tr}SQL Request{/tr}</a></span></p>
*}

