{*Smarty template*}

<h1 class="pagetitle">{$PageTitle}</h1>

<br />

<form name="checkform" method="post" action="{$sameurl}">

{include file='import/history/_detail.tpl'}

<button class="mult_submit" type="submit" name="refresh" value="refresh" title="{tr}Refresh{/tr}"
 onclick="document.location.href='{$sameurl}/id/{$properties.import_order}/space/{$SPACE_NAME}';return false;">
<img class="icon" src="./img/icons/refresh.png" title="{tr}Refresh{/tr}" 
                  alt="{tr}Refresh{/tr}" width="16" height="16" />
</button>

<input type="hidden" name="id" value="{$properties.import_order}" />
<input type="hidden" name="ticket" value="{$ticket}" />
<input type="hidden" name="space" value="{$SPACE_NAME}" />

{*
<input type="hidden" name="ifSuccessModule" value="recordfile" />
<input type="hidden" name="ifSuccessController" value="detail" />
<input type="hidden" name="ifSuccessAction" value="get" />
*}

</form>
