{literal}
<script language='Javascript' type='text/javascript'>
<!--
function closeMbox(id){
  element = document.getElementById(id);
  element.style.visibility = 'hidden';
  return true;
}
//-->
</script>
<script src="javascripts/scriptaculous/prototype.js" type="text/javascript"></script>
<script src="javascripts/scriptaculous/scriptaculous.js" type="text/javascript"></script>
{/literal}

<div class="postit-title">PostIt</div>
<img class="mbox-closebutton" src="img/icons/cross.png" onClick="closeMbox(\'postit\');" title="{tr}Close{/tr}" style="cursor: pointer;">

<script type="text/javascript">new Draggable('executionReport');</script>
