{*Smarty template*} 

<h2>{tr}Select the document to links to {/tr}{$document_name}</h2>

<form id="form" action="{$sameurl}" method="post"><input type="hidden"
	name="document_id" value="{$document_id}" /> <input type="hidden"
	name="document_class" value="{$document_class}" /> <input type="hidden"
	name="alternative_group" value="{$alternative_group}" /> <input
	type="hidden" name="ticket" value="{$ticket}" /> <input type="hidden"
	name="frompage" value="{$frompage}" /> <input type="hidden"
	name="documentDetail" value="1" /> <input type="hidden" name="step2"
	value="1" /> <input type="hidden" name="space" value="{$SPACE_NAME}" />

<input type="hidden" name="ifSuccessModule" value="{$ifSuccessModule}" />
<input type="hidden" name="ifSuccessController"
	value="{$ifSuccessController}" /> <input type="hidden"
	name="ifSuccessAction" value="{$ifSuccessAction}" /> <input
	type="hidden" name="ifFailedModule" value="{$ifFailedModule}" /> <input
	type="hidden" name="ifFailedController" value="{$ifFailedController}" />
<input type="hidden" name="ifFailedAction" value="{$ifFailedAction}" />

<div id="treeboxbox_tree"
	style="width: 250; height: 218; background-color: #f5f5f5; border: 1px solid Silver;; overflow: auto;"></div>

<!--<select size="5" style="overflow: hidden; visibility: hidden; width: 1px; height: 0;" name="treeboxbox_tree[]" multiple="multiple" id="treeboxbox_tree[]">
</select>--> {literal} <script>
/*
  function unselOption(oid){ //Unselect a option
  }

	function toncheck(id,state){
    if (state) { //if checkbox is check
  		newOption(id); //Add a option to select list
  		//alert("Item "+(id)+" was " +"checked");
  	}else{
  		unselOption(tree.getItemText(id) , id); //Add a option to select list
  		//alert("Item "+(id)+" was " +"unchecked");
    }
	};
	//check item
	tree.setCheck(id,true);
	//uncheck item
	tree.setCheck(id,false);
	//check branch
	tree.setSubChecked(id,true);
	//uncheck branch
	tree.setSubChecked(id,false);
	//check item
	tree.setCheck(id,true);
	//return ids of checked items
	var list=tree.getAllChecked();

  //Valid form and submit checked box
  window.open('ta_page_de_recup.php?variableget='+ta_var_JS,'newWin','width=200,height=100');
*/

  function newOption(oid){
    newO = new Option(oid);
    var index = document.forms['form'].elements['treeboxbox_tree[]'].options.length;
    document.forms['form'].elements['treeboxbox_tree[]'].options[index] = newO;
    document.forms['form'].elements['treeboxbox_tree[]'].options[index].selected = true;
  }

  function Submit(){
  //Get checkbox id and return the ids in select form element
  	var idsList = tree.getAllChecked();
    idsSplit = new Array();
    idsSplit = idsList.split(',');
		//alert(idsSplit);
    for(id in idsSplit){
      newOption(idsSplit[id]);
    }
  }

  tree=new dhtmlXTreeObject("treeboxbox_tree","100%","100%",0);
	tree.enableCheckBoxes(1);
  tree.setImagePath("{/literal}{$root_url}/js/dhtmlxTree/imgs/{literal}");
	//tree.setOnCheckHandler(toncheck);//set function to call on open/close node
  //tree.setXMLAutoLoading("./xml.php");
  //tree.loadXML("./xml.php?id=0");
  tree.setXMLAutoLoading("{/literal}{$request_url}{literal}");
  tree.loadXML("{/literal}{$request_url}/id/0{literal}");

</script> {/literal} <input type="submit" name="action"
	value="{$actionName}" onClick="Submit()" /> <input type="reset"
	name="reset" value="reset" /> <input type="submit" name="cancel"
	value="cancel" /> <!--<input type="button" name="check" onClick="Submit()" />-->

<select name="l_selected[]" multiple="multiple" id="treeboxbox_tree[]"
	style="overflow: hidden; visibility: hidden;"></select></form>

