{*Smarty template*}
<h1 class="pagetitle">{tr}{$PageTitle}{/tr}</h1>

{*--------------------Search Bar defintion--------------------------*}
{*assign var="histoOption" value="1"*}
{$views_helper_filter_form|toggleanim}


{literal}
<script type="text/javascript">
initTbody();
</script>
{/literal}

{include file='reposit/_get.tpl'}
