{*Smarty template*}

<h1 class="pagetitle">{tr}Suppressed{/tr}</h1>

{section name=reposit loop=$reposits}
	<ul><li>
	{tr}The reposit {$reposits[reposit].reposit_name} - ({$reposits[reposit].reposit_number}) has been suppressed{/tr}
	</li></ul>
{sectionelse}
    {tr}None reposit suppressed{/tr}
{/section}
  
