{*Smarty template*}

{include file="header.tpl"}

<div id="tiki-mid">
<div id="tiki-center">

{*=================================LISTING OF INSTANCES===============================================*}
{$documentInstances}

{*=================================DETAILS OF INSTANCES===============================================*}
{$documentInstanceDetail}

{*========================== DETAIL OF ACTIVITY ======================================================*}
{$documentActivityDetail}

</div>
</div>

</div>

<form name="close">
<input type="button" onclick="window.close()" value="{tr}Close{/tr}">
</form>

</div>
</div>
