<!--  {*Smarty template*} -->

<!-- {*--------------------Search Bar defintion--------------------------*} -->
<div id="sitesearchbar">
<form id="filterf" action="{$formurl}" method="post">
<input type="hidden" name="activatefilter" value="1" />
<input type="hidden" name="space" value="{$SPACE_NAME}" />
<input type="hidden" name="basic_id" value="{$basic_id}" />

<fieldset>
<br />
  <label>
  <input size="4" type="text" name="numrows" value="{$filter_options.numrows|escape}" />
  <small>{tr}rows to display{/tr}</small></label>
<br />

<label for="find"><small>{tr}find{/tr}</small></label>
<input size="16" type="text" name="find" value="{$filter_options.find|escape}" />

<label for="find_field"><small>{tr}In{/tr}</small></label>
<select name="find_field" onchange='javascript:getElementById("filterf").submit();'>
<option {if '' eq $filter_options.find_field}selected="selected"{/if} value=""></option>
{foreach from=$find_elements item=name key=field}
 <option {if $field eq $filter_options.find_field}selected="selected"{/if} value="{$field|escape}">{$name}</option>
{/foreach}
</select>

<input type="submit" name="filter" value="{tr}filter{/tr}" />
<input type="submit" name="resetf" value="{tr}Reset all filters{/tr}" />

<br />
</form>
</fieldset>

</div>
