{*Smarty template*}

{$message}

<form name="checkform">
<button class="mult_submit" type="submit" name="action" value="getback" title="{tr}End{/tr}"
onclick="document.checkform.action='./import/package/get';
pop_no(checkform);">{tr}End{/tr}
</button>
</form>

