/* CSS Document */ 

/*
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td
{
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
padding-top: 0pt;
padding-right: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
}
*/


/*  activate for design to good see the div */
DIV#tiki-main {
	background-color: yellow;
  padding: 10px
}

DIV#tiki-top {
	background-color: grey;
  padding: 10px
}

DIV#tiki-mid {
	background: blue;
  padding: 10px
}

DIV#tiki-center {
	background: green;
  padding: 10px
}

DIV#tiki-bot {
	background:   purple;
  padding: 10px
}

/* end of css file */