/* CSS Document */

/* =========================================== PHP Layers ================================= */
.mdkhorbar      {
        color: black;
        background-color: #e6e7e6;
        border: 1px outset #555;
}

.horbar {
	margin-left: 10px;
}

.horbaritem a {
	font-size: 10px;
	text-decoration: none;
	color: #000000;
	border: 1px inset transparent;
}

.harbaritem a:visited {
	color: #000000;
}

.horbaritem a:hover {
	border: 1px inset #aaa;
}

.mdkhorbaritem  {
        float: left;
        white-space: nowrap;
        font-size: 10px;
}

.mdkhorbaritem a        {
        display: block;
        text-decoration: none;
}

.mdkhorbaritem a:link   {
        color: #000000;
}

.mdkhorbaritem a:visited        {
        color: #000000;
}

.mdkhorbaritem a:hover  {
        color: #ffffff;
        background-color: #21449c;
}

.mdkhorbaritem a:active {
        color: #ff0000;
}

.mdkverbar      {
        color: black;
        background-color: #e6e7e6;
        border: 1px outset #fdfefd;
}

.mdksubmenu     {
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
         -moz-opacity:0.8;
	filter:alpha(opacity=80)
}

.mdksubframe    {
        position: relative;
        display: block;
        background-color: #b5c1cc;
        border: 2px outset #555;
}

.mdkitem        {
        position: relative;
        text-align: left;
        white-space: nowrap;
        font-size: 10px;
}

.mdkitem a      {
        position: relative;
        display: block;
        text-decoration: none;
}

.mdkitem a:link {
        color: #000000;
}

.mdkitem a:visited      {
        color: #000000;
}

.mdkitem a:hover        {
        color: #ffffff;
        background-color: #21449c;
}

.mdkitem a:active       {
        color: #ff0000;
}

.mdkitem .mdkfwdarr     {
        position: absolute;
        top: 5px;
        right: 12px;
}

/* tiki tabs */

.tabmark {
	display: inline;
	font-size: 85%;
	background-color: #dddddd;
	border: 1px solid #666666;
	margin: 0px;
	margin-right: 5px;
	padding: 1px 0px 1px 0px;
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0;  
	-khtml-border-radius : 5px 5px 0 0;
}
.tabmark a { 
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0; 
	-khtml-border-radius : 5px 5px 0 0;
	border-bottom : 0; 
	color: #666666;
	font-weight: 700 !important;
	padding: 1px 5px 1px 5px;
}
.tabmark a:active {
	background-color: white;
	color: red;
}
.tabmark a:hover {
	color: black;
	background-color: #CCCCCC;
}

.tabcontent {
	z-index : 200;
	position: relative;
	border: 1px solid #999999;
	padding: 6px 2px 2px 2px;
	margin-bottom: 25px;
	background-color: #eeeeee;
	border-radius: 0px 4px 4px 4px;
	-moz-border-radius: 0px 4px 4px 4px;
	-khtml-border-radius: 0px 4px 4px 4px;
	width: 100%;
}

/* trackers specific style */

.statuson {
  padding: 1px;
  margin: 1px;
  border: 1px inset #666666;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  vertical-align: middle;
  background-color: #bbaa99;
}
.statusoff {
  padding: 1px;
  margin: 2px;
  vertical-align: middle;
}


/**** coloration for c o d e plugin *****/
.codelisting 
{ font-family : monospace;
padding : 2ex;
background-color : #edeeef;
margin : 1ex;
border : 1px dashed #adacaf; }

/* Version Plugin Style */

.versions {
border-top : 1px dashed #999999;
border-bottom : 1px dashed #999999;
min-height : 142px;
}
.versionav {
display : inline;
float : right;
border-left : 1px dashed #999999;
}
.versionav .button2 {
display : block;
border : 0;
border-bottom : 1px dashed #999999;
background-color : none;
}
.versionav .button2 .linkbut {
border : 0;
background-color : inherit;
padding : 0 10px;
}
.versionav .highlight {
background-color : #cccccc;
font-weight : bold;
}
.versiontitle {
font-weight : bold;
border-bottom : 1px dashed #999999;
border-left : 1px dashed #999999;
padding : 2px 30px;
float : right;
}

/* wiki diff styles */
.diff div{border-top: 1px solid black;}
.diffheader{background-color:#a9b8c2; font-weight: bold;}
.diffadded {background-color:#ccffcc;}
.diffdeleted {background-color:#ffcccc;}
.diffbody{background-color:#F2F4F5}
.diffchar {color: red;}

/**** coloration for QUOTE plugin *****/
.quoteheader {
margin: 10px 5px 0px 5px;
padding: 4px;
border-width: 1px 1px 0px 1px;
border-style: solid;
border-color: #A9B8C2;
color: black;
font-weight: bold;
background-color: #A9B8C2;
font-size: 8pt;
}
.quotebody {
margin: 0px 5px 10px 5px;
padding: 5px;
border-color: #A9B8C2;
border-width: 0px 1px 1px 1px;
border-style: solid;
color: black;
background-color: #edeeef;
}

/* end of css file */
