{*Smarty template*}
<table>
<tr><td>
	<a href="content/get/document/space/{$CONTAINER_TYPE}/container_id/{$container_id}" class="button">
		<span class="doctyp">{tr}Documents manager{/tr}</span>
	</a>
</td><td>
	<a href="content/get/document/space/{$CONTAINER_TYPE}/container_id/{$container_id}/hideDocfileManage/1" class="button">
		<span class="doctyp">{tr}Hide file manager{/tr}</span>
	</a>
</td></tr>
</table>