{*Smarty template*}

<h1 class="pagetitle">{$PageTitle}</h1>

<br />

{*----------------Visualisation filter form--------------------------*}

{*--------------------User list----------------------------------*}
{include file=user/admingroups/groups.tpl}

