{*Smarty template*}
<table>
<tr><td>
	<a href="javascript:popupP('partner/index/create','partnerManage', 560 , 540)" class="button">
		<span class="add">{tr}Create{/tr}</span>
	</a>
</td></tr>
</table>
