{*Smarty template*}
RanchBE ver:{$ranchbe_version} build:{$ranchbe_build} {$ranchbe_copyright} 
<a href="http://www.ranchbe.com" title="RanchBE">RanchBE Group</a>
| {$smarty.now|date_format:"%A %d %B %Y"}
| {tr}Connected as{/tr} {$current_user_name}
|<a font href="{$this->baseUrl('auth/auth/logout')}">{tr}Logout{/tr}</a>
|<a href="javascript:popupP('user/adminusers/changemypasswd','myPassword',280,380)">{tr}Change password{/tr}</a>
|<a href="javascript:popupP('user/preferences/edit/user/me','myPrefs',280,450)">{tr}Preferences{/tr}</a>
|<a href="javascript:popupP('context/index/index','Context',280, 450)">{tr}Context{/tr}</a>
|<a href="javascript:popupP('index/about','About', 280, 450)">{tr}About Ranchbe{/tr}</a>
</font>
|{include file="search/searchBar.tpl"}
