/* CSS Document */

DIV#tiki-main {
	background-color: yellow;
  padding: 10px
}

DIV#tiki-top {
	background-color: grey;
  padding: 10px
}

DIV#tiki-mid {
	background: blue;
  padding: 10px
}

DIV#tiki-center {
	background: green;
  padding: 10px
}

DIV#tiki-bot {
	background:   purple;
  padding: 10px
}

