/*
$Header: /cvsroot/ranchbe/ranchbe0.7/web/styles/lesjetesdelencre.css,v 1.1 2009/06/05 17:06:43 ranchbe Exp $
Simple basic theme for generic tiki

IE hacks applied !
read http://glish.com/css/hacks.asp 

changing colors ?
you can list them with
  grep -i " #[0-9a-f]\{3,6\};" styles/tikineat.css | cut -d\# -f2 | sort | uniq -c
and change them with
  perl -pi -e 's/AAAAAA/bbbbbb/g' styles/tikineat.css

If you need something or if you find errors in the css, contact carol@ungi.net
*/

body {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin : 0;
	padding: 0;
	color: #5A5A58;
	text-align: center;
	background-color: #B2AEAB;
}	
h1, h2, h3, h4, h5, h6 {
	margin : 0 0 13px;
	text-align: left;
	padding: 0px;
}
H2 {
	font-size : 18px;
	color : #DFC05D;
	padding-right: 10px;
	padding-left: 15px;
	background-image: url(/img/cercle.gif);
	background-repeat: no-repeat;
	margin-left: 15px;
	margin-top: 7px;
}
H3 {
	font-size : 14px;
	color : #DA3A02;
	padding-right: 10px;
	padding-left: 10px;
}
H4 {
	font-size : 12px;
	color : #997090;
}
H5 {
	font-size : 11px;
	color : #997090;
}
H6 {
	font-size : 10px;
	color : #997090;
}
H1, .pagetitle {
	font-size : 40px;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
	padding: 0px;
	color: #5A5A58;
	font-family: Arial, Helvetica, sans-serif;
/*	border-left-width: 40px;
	border-left-style: solid;
	border-left-color: #C88FAF; */
	text-align: left;
}
.tiki_wiki {
	text-align: center;
}
.pagetitle {
	border-left-width: 40px;
	border-left-style: solid;
	border-left-color: #C88FAF;
	padding: 0px; 
	margin-left: 0px;
}
a.pagetitle {
	text-decoration: none;
}
.rubpresentation, .tiki_wiki .pagetitle, .rubmanifestations, .tiki_calendar .pagetitle, .rubcommuniquons, .tiki_forums .pagetitle, .tiki_surveys .pagetitle, .tiki_faqs .pagetitle, .tiki_cms .pagetitle, .tiki_user_messages .pagetitle, .tiki_newsletters .pagetitle, .rubbibliotheque, .tiki_file_galleries .pagetitle, .tiki_galleries .pagetitle, .rublastarticle, .rublastcreatedfaqs, .rubforumslasttopics, .rublastfiles, .tiki_mytiki .pagetitle {
	border-left-width: 40px;
	border-left-style: solid;
	margin-top: 10px;
	padding-left: 0px;
	margin-left: 0px;
}
.rubpresentation, .tiki_wiki .pagetitle {
	border-left-color: #F48E00;
}
.rubmanifestations, .tiki_calendar .pagetitle {
	border-left-color: #9FA160;
}
.rubcommuniquons, .tiki_forums .pagetitle, .tiki_surveys .pagetitle, .tiki_faqs .pagetitle, .tiki_cms .pagetitle, .tiki_user_messages .pagetitle , .tiki_newsletters .pagetitle {
	border-left-color: #4E6996;
}
.rubbibliotheque, .tiki_file_galleries .pagetitle, .tiki_galleries .pagetitle {
	border-left-color: #8D93A1;
}
.rublastarticle {
	border-left-color: #997090;
}
.rublastcreatedfaqs {
	border-left-color: #032D57;
}
.rubforumslasttopics {
	border-left-color: #562543;
}
.tiki_mytiki .pagetitle {
	border-left-color: #562543;
}
.rublastfiles {
	border-left-color: #ACBAC7;
}
ul {
	margin-top : 2px;
	margin-bottom : 6px;
}
a {
	color : #5A5A58;
	font-weight : bold;
}
a:hover {
	color : #9C9376;
}
small {
	font-size : 11px;
	color: #7E7874;
	font-weight: bold;
	text-align: left;
	margin: 0px;
	padding: 0px;
}
smallBot {
	font-size : 10px;
	color: #7E7874;
}
hr {
	width : 100%;
	height : 1px;
	background-color : #FFFFFF;
	border-width : 0px;
	padding : 0px;
	color : #FFFFFF;
}
td {
	color : #5A5A58;
	font-size : 11px;
	vertical-align : top;
	text-align : left;
}
th {
	color : #5A5A58;
	background-color : #DEE7EC;
	border : 1px solid #ACB9C7;
	padding : 0 2px;
}
caption {
	font-weight : bold;
}
/* General form elements */
FORM {
	margin : 0px;
	padding : 0px;
}
input, textarea, select {
	font-size : 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : #333F5C;
	margin: 1px;
	border : 1px solid #827B77;
}
input {
	text-indent : 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}
input[type=checkbox], input[type=radio] {
	border : 0;
}
input[type=submit] {
	font-size : 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border : 1px solid #827B77;
	background-color: #A59F9C;
	font-weight : bold;
	color: #FFFFFF;
	margin: 0px;
	padding: 1px;

}
input[type=submit]:hover {
	background-color : #FFFFFF;
	cursor : pointer;
	color: #78726D;

}
textarea {
	margin: 1px 1px 1px 2px;
}
label {
	cursor : pointer;
}

/* GENERAL LAYOUT EXPLANATION
	*
	* The tiki application is enclosed as a whole in tiki-main
	* tiki-main contains three divs: tiki-top, tiki-mid and tiki-bot
	* that will be used for the header, application and footer.
	*
	* tiki-mid contains a 3-column table, the columns are called (ids)
	* leftcolumn, centercolumn and rightcolumn
	* centercolumn contains tiki-center where the main area is displayed.
	*
	*/

/*********************** GENERAL LAYOUT ************************************/
DIV#tiki-main {
	margin : 0px;
}
DIV#tiki-top {
	border-bottom : 8px dashed #E2E0E0;
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #FFFFFF;
	padding: 0px;
	margin-right: 40px;
	margin-left: 40px;
	font-size: 11px;
	vertical-align: bottom;
}

DIV#tiki-top a {
	text-decoration : none;
}

DIV#tiki-mid {
	padding : 0px;
	margin-right: 40px;
	margin-left: 40px;
}
DIV#tiki-bot {
	padding-top : 10px;
	padding-bottom : 5px;
	background-color : #B2AEAB;
	margin : 0;
}
#leftcolumn {
	width : 180px;
	padding : 10px 5px;
	background-color: #FFFFFF;
	border-right: 1px solid #7C90A7;
	border-bottom: 8px dashed #E2E0E0;
	border-left: 1px solid #79736F;
}
#centercolumn {
	margin : 0;
	width : 100%;
	background-image: url(hec/h_hec.gif);
	background-repeat: no-repeat;
	background-position: right top;
	text-align: left;
	padding: 0px 0px 20px;
	background-color: #FFFFFF;
	border-bottom-width: 8px;
	border-bottom-style: dashed;
	border-bottom-color: #E2E0E0;
}
#rightcolumn {
	width : 180px;
	background-color: #F1F2E9;
	padding-top: 10px;
	padding-bottom: 20px;
	border-right-width: 1px;
	border-bottom-width: 8px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #E2E0E0;
	border-left-color: #7C90A7;

}
DIV#tiki-center {
	padding : 15px 0 10px;
	text-align: left;

}
DIV#tiki-mid > table {
	border-spacing : 0;
	margin : 0;
	padding : 0;
}
div#debugconsole {
	position: absolute;
	background-color: #F3F6F9;
	top: 0px;
	left: 20px;
	right: 310px;
	height: auto;
	z-index: 1;
	padding: 5px;
	border: 6px ridge #996600;
	font-size: 12px;
	visibility: hidden;

}

#overDiv table {
	width : auto !important;
}
#overDiv .box-title {
	font-size : 10px;
	margin : 0;
	font-weight: bold;
	color: #5A5A58;
	padding-left: 3px;
	display: block;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
}
#overDiv .box-data {
	overflow : hidden;
	color : #5A5A58;
	padding-left: 3px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	font-size : 10px;

}

/********************************************* GENERAL STYLE PROPERTIES **********************************************/
/* Boxes used for modules (modules are those boxes in the left/right columns) */
div.box {
	overflow : hidden;
	font-size : 10px;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	width: 177px;

}
.box-title {
	font-size : 10px;
	margin : 0;
	font-weight: bold;
	color: #5A5A58;
	padding-left: 3px;
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-decoration: none;
}
.box-title a {
	text-decoration: none;
}
.box-title a:hover {
	text-decoration: none;
}
.presentation .box-title, .Manifestations .box-title, .communiquons .box-title, .Bibliotheque .box-title, .last_articles, .last_created_faqs, .forums_last_topics, .last_files  {
	margin : 0;
	border-left-width: 7px;
	border-left-style: solid;
	padding-left: 3px;
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.presentation, .presentation .box-title {
	border-left-color: #F48E00;
}
.Manifestations, .Manifestations .box-title{
	border-left-color: #9FA160;
}
.communiquons, .communiquons .box-title{
	border-left-color: #4E6996;
}
.Bibliotheque, .Bibliotheque .box-title{
	border-left-color: #8D93A1;
}
.last_articles {
	border-left-color: #997090;
}
.last_created_faqs {
	border-left-color: #032D57;
}
.forums_last_topics {
	border-left-color: #562543;
}
.last_files {
	border-left-color: #ACBAC7;
}
div.box-title table {
	width : 100%;
}
div.box-data {
	overflow : hidden;
	color : #5A5A58;

	font-size : 10px;
}
#presentation {
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #F48E00;
	margin-top: 2px;
	margin-bottom: 5px;
}
#Manifestations {
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #9FA160;
	margin-top: 2px;
	margin-bottom: 5px;
}
#communiquons {
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #4E6996;
	margin-top: 2px;
	margin-bottom: 5px;
}
#Bibliotheque {
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #8D93A1;
	margin-top: 2px;
	margin-bottom: 5px;
}
#last_articles {
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #997090;
	margin-top: 2px;
	margin-bottom: 5px;
}
#last_created_faqs {
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #032D57;
	margin-top: 2px;
	margin-bottom: 5px;
}
#forums_last_topics {
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #562543;
	margin-top: 2px;
	margin-bottom: 5px;
}
#last_files {
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #ACBAC7;
	margin-top: 2px;
	margin-bottom: 5px;
}
/*.login_box .box-title, .search_box .box-title, .messages_unread_messages .box-title, .Fast_admin .box-title, .who_is_there .box-title, .mnu_application_menu .box-title, .switch_lang .box-title, .featured_links .box-title { */
#rightcolumn .box-title {
	background-color: #3586C0;
	font-size: 10px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
div.separator, div.separatorline {
	background-color: #F1F2E9;
	color: #FF6633;
	padding : 2px 5px;
	width : 165px;
	border: 1px solid #60A4D3;
	margin-top: 4px;
	margin-bottom: 2px;
	border-radius : 6px 6px 6px 6px;
	-moz-border-radius : 6px 6px 6px 6px;
	-khtml-border-radius : 6px 6px 6px 6px;
}
div.separator a, div.separatorline a {
	color: #FF6633;
	font-size: 10px;
}
.linkmenu, .rsslink {
	font-size : 10px;
	text-decoration : none;
	font-weight : normal;
	color: #5A5A58;
}
.rsslist {
	background-color: #FFFFFF;
	margin : 0;
	margin-right : 10px;
	padding : 1px;
}
.rssitem {
	font-weight : normal;
	padding : 1px 6px 1px 6px;
	border-top : 1px dashed #DADAC9;
}
.rssitem:first-child {
	border-top: 0;
}
.rssdate {
	color: #999999;
	font-style: italic;
}
.separator {
	font-size : 10px;
	text-decoration : none;
}
.flip {
	font-size : 10px;
	text-decoration : none;
}
span.user-box-text {
	color: #5A5A58;
}

/* When modules display a list of items each item is enclosed in a cell with the following style */
TD.module {
	font-size : 10px;
	color : #1876A3;
	text-align : left;
}
.linkmodule, .linkmodule:visited {
	color : #135184;
	font-size : 10px;
	text-decoration : none;
}

/* Now the boxes for the rest of Tiki (non-modules */
div.cbox {
	margin : 20px 3px 3px;
	overflow : hidden;
	background-color: #F7F5EE;
	font-size: 11px;
	padding-top: 20px;
	padding-bottom: 30px;
	border-top: 4px solid #B2AEAB;
	border-right: 1px solid #B2AEAB;
	border-bottom: 4px solid #B2AEAB;
	border-left: 1px solid #B2AEAB;
	border-radius : 16px 16px 16px 16px;
	-moz-border-radius : 16px 16px 16px 16px;
	-khtml-border-radius : 16px 16px 16px 16px;
}
div.cbox-title {
	color : #FFFFFF;
	overflow : hidden;
	text-align : center;
	padding : 6px 0px;
	margin : 4px 0px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #E2351D;
	border-top: 1px solid #912313;
	border-bottom: 1px solid #912313;
	font-size: 13px;
	letter-spacing: 1px;

}
.cboxtlink {
	color : #5A5A58;
	font-size : 10px;
	text-decoration : none;
}
div.cbox-data {
	overflow : hidden;
	font-size : 11px;
	color : #912313;
	font-weight: bold;
	padding-top: 10;
	padding-right: 5px;
	padding-left: 5px;
}
div.cbox-data a {
	font-size : 10px;
	color : #912313;
	font-weight: normal;
}
div.cbox-data a:hover {
	font-size : 10px;
	color : #FF6633;
	font-weight: normal;
}

/* Some boxes are identified by an ID, for example the  boxes in the main application menu, we set display to
	none to make the menu appear collapsed initially, change this to 'block' if you want it to be extended fully */

/* Banners of type text (textadds) are displayed as links using the following style */
.bannertext {
	font-size : 10px;
	color : #424242;
	text-decoration : none;
}
.bannertext:hover {
	color : #5A5A58;
}
div.imagerank {
	margin : 10px 5px;
}

/* A simple box is just a div with a border around and some margin
	* used for example in the admin screen */
div.simplebox {
	padding : 5px 8px;
	color : #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #A592BD;
	text-align: left;
	border: 1px solid #997090;
}
div.simplebox span {
	font-weight: bold;
}

/* General tables */
/* These styles apply to tables used to display common listings such as the wiki page listing, last changes,
	listings in admin screens, etc. */

/* The table */
table.normal {
	padding : 0px;
	margin : 0px 0px 10px;

	width : 100%;
	voice-family : "\";
	border: 1px solid #ACB9C7;
}\"";
	voice-family : inherit;
	width : 97%;
}
html>body table.normal {
	width : 100%;
}
table.listgallery, table.creategalform, table.gallerylisting, table.bloglist, table.editblogform,
table.editfgalform, table.listfgal, table.listfiles, table.listarticles, table.forumstable,
table.forumformtable, table.viewthread, table.jukeboxlist {
	padding : 0px;
	margin : 0px;
	border-collapse : collapse;
	width : 100%;
}

TABLE.admin {
	width : 100%;
}
TABLE.normalnoborder {
	border : 1px solid #60A4D3;
	padding : 4;
	background-color: #FAF5EF;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;

}

/* Cells in forms without background color (inside a div for example) */
.form td {
	background-color : transparent;
}
/* Cells in forms using a background color */
.formcolor td,
.galform td,
.editblogform td,
.editfgalform td,
.comform td,
.forumform td {
	background-color : #FBFCF9;
	font-size : 10px;
	color: #666666;
	border: 1px solid #437FA8;
}
.messunav {
	margin-top: 15px;
}
td.formcolor {
	border : 1px solid #3A74A3;
	padding : 4px;
	background-color: #FAFAF7;
	font-size : 10px;
}

/* Table headings */
TD.heading, td.gallistheading, td.listgalheading, td.bloglistheading,
td.listfgalheading, td.jukeboxlistheading, td.listfilesheading,
td.listartheading, td.forumheading, td.viewthread {
	color : #FFFFFF;
	background-color : #E4673A;
	border : 1px solid #C4C6C8;
	padding : 2px;
	font-size: 10px;
	font-weight: bold;
}

th.gallistheading, th.listgalheading, th.bloglistheading,
th.listfgalheading, th.jukeboxlistheading, th.listfilesheading,
th.listartheading, th.forumheading, th.viewthread {
}

TD.button {
	background-color : #DEE7EC;
	border : 1px solid #ACB9C7;
	padding : 0 2px;
	text-align : center;
	vertical-align : middle;
}

/* Links to view an object from a table listing objects can be generalized to this link */
a.tablename, a.galname, a.imagename, a.jukeboxname,
a.blogname, a.fgalname, a.artname, a.forumname {
	font-weight : bold;
	color : #5A5A58;
	font-size: 10px;
	text-decoration: none;
	
}
a.forumnameread {
	letter-spacing : 1px;
	color : #5A5A58;
}

/* Links in table headings */
.tableheading, .gallistheading, .listgalheading, .bloglistheading,
.llisfgalheading, .llistfileslink, .llistart, .lforumheading {
	text-decoration: none;
	color: #F3E7EE;
	padding-right: 2px;
	padding-left: 2px;

}

table.findtable {
	margin-bottom : 1px;
	padding-bottom : 10px;
}
.findtable td { 
	color : #5A5A58;
}

/* Odd rows in several listings */
tr.odd {
	border : 1px solid #ACB9C;
	color : 042D56;
	background-color : #FEFEFE;
}
tr.odd:hover {
	background-color: #FAC985;
}
tr.even {
	border : 1px solid #9E9E9E;
	background-color : #F7F9FA;
	color : 042D56;
}
tr.even:hover {
	background-color: #FAC985;
}
TD.odd,td.gallistnameodd,td.gallistdescriptionodd,td.gallistcreatedodd,td.gallistlastModifodd, td.gallistuserodd,
td.gallistimagesodd, td.gallisthitsodd, td.gallistactionsodd, td.listgalidodd, td.listgalnameodd, td.listgalcreatedodd,
td.listgalhitsodd, td.listgaluserodd, td.listgalfilesizeodd, td.bloglistnameodd, td.bloglistdescriptionodd,
td.bloglistcreatedodd,td.bloglistlastModifodd,td.bloglistuserodd,td.bloglistpublicodd,td.bloglistpostsodd,
td.bloglistvisitsodd, td.bloglistactivityodd, td.bloglistactionsodd, td.listfgalnameodd, td.listfgaldescriptionodd,
td.listfgalcreatedodd, td.listfgallastModifodd, td.listfgaluserodd, td.listfgalfilesodd, td.listfgalvisitsodd,
td.listfgalactionsodd, td.listfilesnameodd,td.listfilesdescriptionodd,td.listfilesidodd,td.listfilesfilenameodd,
td.listfilesfilesizeodd,td.listfilescreatedodd,td.listfilesdlsodd,td.listfilesnameodd,td.listfilesuserodd,td.listfilesactionsodd,
td.listarttitleodd,td.listarttopicodd,td.listartpublishDateodd,td.listartauthorodd,td.listartreadsodd,td.listarthasimageodd,
td.listartuseimageodd,td.listartactionsodd,td.listartsizeodd,td.forumstableodd,td.forumstableinfoodd,td.topictitleodd,
td.topicrepliesodd,td.topicreadsodd,td.topicscoreodd,td.topiclastpostodd,td.topicauthorodd, td.jukeboxlistnameodd,
td.jukeboxdescriptionodd, td.jukeboxcreatedodd, td.jukeboxlastmodifodd, td.jukeboxlistuserodd, td.jukeboxlisttracksodd,
td.jukeboxlistvisitsodd {
	border : 1px solid #ACB9C7;
	border-collapse : collapse;
	background-color : #F7F9FA;
	color : 042D56;
	font-size : 10px;
}
TD.even,td.gallistnameeven, td.gallistdescriptioneven, td.gallistcreatedeven,td.gallistlastModifeven, td.gallistusereven ,
td.gallistimageseven,td.gallisthitseven, td.gallistactionseven, td.listgalideven, td.listgalnameeven, td.listgalcreatedeven,
td.listgalhitseven, td.listgalusereven,td.listgalfilesizeeven, td.bloglistnameeven, td.bloglistdescriptioneven,
td.bloglistcreatedeven,td.bloglistlastModifeven,td.bloglistusereven,td.bloglistpubliceven,td.bloglistpostseven,
td.bloglistvisitseven, td.bloglistactivityeven, td.bloglistactionseven, td.listfgalnameeven, td.listfgaldescriptioneven,
td.listfgalcreatedeven, td.listfgallastModifeven, td.listfgalusereven, td.listfgalfileseven, td.listfgalvisitseven,
td.listfgalactionseven,td.listfilesnameeven ,td.listfilesdescriptioneven,td.listfilesideven,td.listfilesfilenameeven,
td.listfilesfilesizeeven,td.listfilescreatedeven,td.listfilesdlseven,td.listfilesnameeven,td.listfilesusereven,td.listfilesactionseven,
td.listarttitleeven,td.listarttopiceven,td.listartpublishDateeven,td.listartauthoreven,td.listartreadseven,td.listarthasimageeven,
td.listartuseimageeven,td.listartactionseven,td.listartsizeeven,td.forumstableeven,td.forumstableinfoeven,td.topictitleeven,
td.topicreplieseven,td.topicreadseven,td.topicscoreeven,td.topiclastposteven,td.topicauthoreven, td.jukeboxlistnameeven,
td.jukeboxdescriptioneven, td.jukeboxcreatedeven, td.jukeboxlastmodifeven, td.jukeboxlistusereven, td.jukeboxlisttrackseven,
td.jukeboxlistvisitseven {
	border : 1px solid #60A4D3;
	background-color : #F8F8F3;
	color : #5A5A58;
	border-collapse : collapse;
	padding: 2px;
	font-size: 10px;
}
.even b {
	color : #5A5A58;
}
TD.third {
	border : 1px solid #ACB9C7;
	color : 042D56;
	background-color : #ACB9C7;
}

/* When the page title is a link this is the style */
/* .pagetitle, .forumspagetitle {
	color : #5A5A58;
	margin : 0 10px;
	margin-bottom : 3px;
	font-weight: normal;
	text-decoration: none;
} */
div#pagetitle {
	font-size : 25 px;
}

.link, .gallink, .bloglink, .fgallink, .trailer,
.opencomlink, .commentslink, .admlink,.forumbutlink {
	font-weight : normal;
	padding : 0;
}

div.searchdate {
	font-size : 10px;
	color : #333333;
}

/* Pagination for listings */
.mini {
	font-size: 9px;
	color : #5A5A58;
}
.prevnext, .galprevnext, .blogprevnext, .fgalprevnext,
.artprevnext, .forumprevnext, .jukeboxprevnext {
	font-size: 12px;
	padding: 1px 6px;
	margin-bottom: 6px;
}

.attention {
	color: red;
}
.highlight {
	background-color : #eeee99 !important;
	color : #5A5A58;
}

div#edithelpzone {
	display : none;
}
div#attzone {
	display : none;
	margin-top : 10px;
}
div#attzoneopen {
	display : block;
	margin-top : 10px;
}
a.tikihelp, a.tikihelp:visited {
	border : 0;
}
a.tikihelp:hover {
	color : #224466;
	cursor : help;
}


/***********************************************  THE WIKI ***********************************************************/
div.titlebar {
	background-color: #C7D0D9;
	color: #5A5A58;
	border: 1px solid #46596f;
	letter-spacing : 1px;
	padding : 0 6px 1px 6px;
	margin : 3px 0 6px 0;
	font-weight : bold;
}

/* The bar where the actions for a page are displayed */
DIV#page-bar {
	margin : 0;
	width: 100%;
	text-align: center;

}
DIV#page-bar table, DIV#page-bar td, DIV#page-bar tr {
	margin: 0;
	padding: 0;
}

/* Wiki action buttons (the buttons displayed at the end of each page to edit/print/remove/etc a page */
.button2, .button3 {
	font-size : 10px;
	margin : 0 1px 0 0;
	padding : 0;

}
.button3 {
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0;
	-khtml-border-radius : 5px 5px 0 0;
}
.button3 .linkbut {
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0;
	-khtml-border-radius : 5px 5px 0 0;
	padding-bottom : 2px;
	border-bottom : 0;
}

/* Links in buttons */
.linkbut, .linkbut:visited {
	font-size : 10px;
	color : #5B5A59;
	font-weight : normal;
	text-decoration : underline;
}
.linkbut:hover {
	color : #FF6633;
}
.tab1 form {
	display : inline;
}
div.cache {
	background-color : #DEE7EC;
	border : 1px solid #ACB9C7;
	padding : 10px
	margin : 4px;
}
div.cachedpage {
	border : 1px solid black;
	padding : 10px
	margin : 20px;
}
.wikicache, .wikicache:visited {
	font-size : 9px;
	font-weight : normal;
	color : #998833;
	text-decoration : none;
}
.wikicache:hover {
	color : #5A5A58;
	background-color: transparent;
}
table.wikitable {
	border-collapse : collapse;
}
td.wikicell {
	border-collapse : collapse;
	border : 1px solid #ACB9C7;
	background-color : #F7F9FA;
}
body.wikitext, div.wikitext {
	background-color : #ffffff;
	font-size : 11px;
	width : auto;
	padding: 10px;
	text-align: left;
}
.colg{
	width : auto;
	padding: 10px;
	text-align: left;
	float: left;
	margin-right: 35px;
	vertical-align: top;
}
.colg span{
	font-weight: bold;
	font-style: italic;
}
.cold{
	width : auto;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}
.cold span{
	font-weight: bold;
}
div.wikitext span{
	font-weight: bold;
}
.wikitext a {
	color : #DE600C !important;
	text-decoration: none !important;
}
.wikitext a:hover {
	color : #9C9376;
	text-decoration: underline;
}
.wikitext div.box {
	width : auto;
}
.wikitopline table {
	width : 100%;
	voice-family : "\";
	margin: 0px;
	padding: 0px;
}\"";
	voice-family : inherit;
	width : 97%;
}
html>body .wikitopline table {
	width : 100%;
}
.wikitopline {
	background : #F4F4F4;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #B2AEAB;
	border-bottom-color: #B2AEAB;
	margin: 0px;
	padding: 0px;


}
.wiki {
}
.wikinew {
	color : #CC0000;
}
textarea.wikiedit {
}
p.editdate {
	color : #223344;
	border-top : 1px solid #DE600C;
	font-size : 9px;
	padding : 5 10px 0;
	margin-top: 15px;
	text-align: center;
}
div.wiki-edithelp {
	background : white;
	border : 1px solid black;
	padding : 10px;
}
img.externallink {
	margin : 0 2px;
}
div.tocnav {
	font-size : 10px;
	border-top : 1px solid #ACB9C7;
	border-bottom : 1px solid #ACB9C7;
	color: #5A5A58;
	padding: 2px 0;
	margin-bottom: 2px;
}
.tocnavlink {
	color : #5A5A58;
}
/* wiki diff styles */
.diff td {
	border: 1px solid #A9B8C2;
}
.diff div {
	border-top : 1px solid #A9B8C2;
}
.diffheader {
	background-color : #A9B8C2;
	font-weight: bold;
}
.diffadded {
	background-color : #CCFFCC;
}
.diffdeleted {
	background-color : #FFCCCC;
}
.diffinldel {
	background-color : #FFCCCC;
	text-decoration  : line-through;
}
.diffbody {
	background-color : #F2F4F5;
}
.diffchar {
	color : red;
}
/**** coloration for c o d e plugin *****/
div.code {
	font-size : 10px;
	padding : 3px;
	border : 1px dashed #CCCCCC;
	background-color : #F4F4F4;
	font-family:  Arial, Helvetica, sans-serif;
}
.codelisting {
	font-family:  Arial, Helvetica, sans-serif;
	padding : 10px;
	background-color : #FFFFFF;
	margin : 0;
	border : 1px solid #ADACAF;
}
.codecaption {
	font-size : 10px;
	padding : 0 10px;
	background-color : #FFFFFF;
	position : relative;
	bottom : -5px;
	display : inline;
	border : 1px solid #ADACAF;
	border-bottom : 0;
	margin : 0;
	color : #666666;
	background-color: #E9ECEF;
	font-weight : bold;
	border-radius-topright : 1ex;
	-moz-border-radius-topright : 1ex;
	-khtml-border-radius-topright : 1ex;
}

/******************************************************* IMAGE GALLERIES **********************************************/

TABLE.galtable {
	border-collapse : collapse;
	border : 1px solid #ACB9C7;
	width : 100%;
	voice-family : "\"}\"";
	voice-family : inherit;
	width : 97%;
}
html>body .galtable {
	width : 100%;
}
TD.oddthumb {
	background-color : #E7E9EA;
	border : 1px solid #ACB9C7;
	border-collapse : collapse;
	text-align : center;
}
TD.eventhumb {
	background-color : #F1F2E9;
	border : 1px solid #ACB9C7;
	border-collapse : collapse;
	text-align : center;
}
div.thumbnails {
	border : 1px solid white;
	margin : 10px;
}
img.athumb {
	border : 1px solid white;
}
.caption {
	color : #5A5A58;
}
p.norecords {
	font-weight : bold;
}
div.imagetitle {
	font-weight : bold;
	font-size : 26px;
}
div.gallerylink {
}
div.showimage {
	text-align : center;
	margin : 5px 0;
}
div.imgaldescr {
	margin : 10px;
}
.sorttitle {
	margin-left : 10px;
}
/******************************************************* WEBLOGS **********************************************************/
div.blogtitle {
	color : #5A5A58;
	font-weight : normal;
	font-size : 26px;
	margin : 0 10px 30;
	text-align: left;
	border-bottom-width: 4px;
	border-bottom-style: dashed;
	border-bottom-color: #E2E2E2;
	padding-left: 10px;

}
div.bloginfo {
	font-size : 10px;
	color : #424242;
	margin : 10px;
	text-align: left;

}
div.blogdesc {
	clear : both;
	margin : 0 10px;
	text-align: left;

}
div.blogtools {
	background-color: #FAF5EF;
	border-top : 1px solid #60A4D3;
	border-bottom : 1px solid #60A4D3;
	font-size : 10px;
	margin : 25px 0 10px;
	padding : 0 10px;
}
div.posthead {
	color : #5A5A58;
	overflow : hidden;
	padding : 0 10px;
}
div.posthead td[align=right] {
	vertical-align : bottom;
	margin : 0 10px;
}
span.posthead {
	font-weight : bold;
}
span.posthead small {
	font-size : 9px;
	color : #666666;
	font-weight : normal;
}
.blogt {  }
div.postbody {
	overflow : hidden;
	border-top : 1px solid #AEAEAE;
	border-bottom : 1px solid #AEAEAE;
	font-size : 10px;
	color : #5A5A58;
	padding : 10px;
	width : auto;
	text-align: left;
}

/****************************************************** CMS ***************************************************************/

div.articletitle {
	border-top : 1px solid #7C91A7;
	margin-top : 5px;
	clear : both;
	margin-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7C91A7;
	background-color: #EDF0F3;
}
span.titlea {
	margin : 5px 0 6px;
	font-size : 12px;
	font-weight : bold;
	border-radius-bottomright : 20px;
	-moz-border-radius-bottomright : 20px;
	-khtml-border-radius-bottomright : 20px;
}
span.titleb,
span.titleb:after {
	font-size : 10px;
	color : #666666;
	margin-top: 5px;
	margin-bottom: 5px;
}
div.articleheading {
	margin : 5px 20px 5px 20px;
	clear : both;
}
div.articleheadingtext {
	display : inline;
}
div.articletrailer {
	border-top : 1px solid #C7D0D9;
	margin-bottom : 10px;
	clear : both;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C7D0D9;
}
span.trailer {
}
.articleimage {
	margin-right : 20px;
}
div.articlebody {
	padding : 10px;
	clear : both;
	text-align: left;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	border-top: 1px solid #AEAEAE;
}

/******************************************************* CALENDAR **********************************************************/
.day, .day:visited {
	font-weight : normal;
	font-size : 10px;
	color : #5A5A58;
}
.today {
	font-size : 10px;
	color : #5A5A58;
}
.nav {
	font-size : 10px;
	color : #5A5A58;
}
.changedate {
	font-size : 9px;
	color : #5A5A58;
}
.date {
	font-size : 10px;
	color : #552546;
	font-weight : bold;
}
/*************************************************** COMMENTS **************************************************************/
#comzone {
	display : none;
	margin : 5px 0px;
	padding : 0;
}
#comzoneopen {
	display : block;
	margin : 5px 0px;
	padding : 0;
}
span.commentstitle {
	font-weight : bold;
	font-size : 12px;
}
.subcomment {
	margin-left: 10px;
}

/************************************************************ CHAT *********************************************************/
table.chatroom {
	border-color : 2px solid #334455;
	width : 100%;
}
td.chatchannels {
	background-color : #C7D0D9;
}
td.chatarea {
	padding-left : 0px;
	margin-left : 0px;
	color : #5A5A58;
	background-color : #FFFFFF;
}
table.chatform {
	border : 1px solid #00639C;
	width : 100%;
	border-top : 0px;
}
td.tdchatform {
	color : #5A5A58;
	background-color : #EEEEEE;
}
span.chnormal  {
	color : #5A5A58;
}
span.chuser {
	color : #5A5A58;
	font-weight : bold;
}

/********************************************************** POLLS ********************************************************/
div.pollresults {
	margin-top : 5px;
	font-size : 12px;
	padding : 0 5px;
}
table.pollresults {
	width : 100%;
}
td.pollr {
	color : #5A5A58;
}
#pollopen {
	display : block;
}
#pollzone {
	display : none;
}
#polledit {
	display : none;
}
.pollnav {
}

/***************************************************** FORUMS *****************************************************/
div.forumspagetitle {
}
table.threads {
	width : 100%;
}
td.viewthreadl {
	border : 1px solid #ACB9C7;
	border-collapse : collapse;
	background-color : #EEEEEE;
	height : 10px;
}
td.viewthreadr {
	border : 1px solid #ACB9C7;
	border-collapse : collapse;
	background-color : #EEEEEE;
	height : 10px;
}
td.threadsevenl {
	border : 1px solid #ACB9C7;
	border-collapse : collapse;
	background-color : #EEEEEE;
}
td.threadsevenr {
	border : 1px solid #ACB9C7;
	border-collapse : collapse;
	background-color : #EEEEEE;
}
td.threadsoddl {
	border : 1px solid #ACB9C7;
	border-collapse : collapse;
	background-color : #DDDDDD;
}
td.threadsoddr {
	border : 1px solid #ACB9C7;
	border-collapse : collapse;
	background-color : #DDDDDD;
}
td.threadseparator {
	border : 1px solid #ACB9C7;
	border-collapse : collapse;
	background-color : #EEEEEE;
	height : 5px;
}
#forumpost {
	display : none;
}
#forumpostopen {
	display : block;
}
div.forumtoolbar {
	background-color : #395AAD;
	margin-bottom : 20px;
	border : 0px;
}
td.forumtoolbar {
	color : white;
	font-weight : bold;
	text-decoration : none;
	vertical-align : bottom;
}
.toolbarlink, .toolbarlink:active {
	color : white;
	font-weight : bold;
	text-decoration : none;
}
.toolbarlink:hover {
	color : #00FFFF;
}
.forumvotelink {
	color : #5A5A58;
}

/************************************************ CATEGORIES **************************************************************/
table.tcategpath {
	margin-bottom : 40px;
	border : 1px solid #ACB9C7;
	width : 100%;
	border-collapse : collapse;
}
td.tdcategpath {
	color : #578308;
	font-weight : bold;
	background-color : #CDE2A7;
	padding : 0 3px;
	margin : 0px;
	border-spacing : 0px;
}
.categpath {
}
table.subcats {
	padding : 20px 0;
	width : 100%;
	border-spacing : 0px;
	margin-bottom : 10px;
	border : 1px solid #46596f;
	background-color : #CDE2A7;
	border-collapse : collapse;
}
td.tdsubcat {
	width : 25%;
	background-color : #8CACBB;
}
.categlink {
}
table.catobjects {
	width : 100%;
	border-spacing : 0px;
	padding-right : 0px;
	margin-bottom : 10px;
	border : 1px solid #46596f;
	border-collapse : collapse;
}
td.categobjectsnameeven,
td.categobjectsnameodd {
	color : #5A5A58;
}
td.categobjectsdataeven,
td.categobjectsdataodd {
	background-color : #F7F9FA;
	color : #5A5A58;
}
.catname {
	color : #46596f;
}
.catblock {
	border : 1px solid #AAAAAA;
}
.catlists {
	border-top : 1px solid #FFFFFF;
	padding : 1px 6px 1px 6px;
	background-color : transparent;
	color : #666666;
}
.catlists:last-child {
	border-bottom : 1px solid #FFFFFF;
}
.catlists:hover {
	background-color : #DEDEDE;
}
.cattitle {
	color : #5A5A58;
	font-weight : bold;
}
.catlists a.link {
	color : #666666;
	padding : 0px 4px 0px 4px;
	border : 1px solid #AAAAAA;
	border-radius : 6px;
	-moz-border-radius : 6px;
	-khtml-border-radius : 6px;
}
.catlists a.link:hover {
	color : #5A5A58;
}

/***************************************************** FAQS **************************************************************/
div.faqlistquestions {
	background-color : #FFFFFF;
	color : #5A5A58;
	border : 1px solid #ACB9C7;
	margin-bottom : 20px;
	text-align: left;
}
div.faqqa {
	background-color : #FFFFFF;
	color : #5A5A58;
	border : 1px solid #ACB9C7;
	margin-bottom : 20px;
}
div.faqquestion {
	font-weight : bold;
	padding : 2px 12px;
	padding-bottom : 0;
	background-color : #DEE7EC;
}
div.faqanswer {
	padding : 5 12px 5px;
	text-align: left;
}

/***************************************************** QUIZZES **************************************************************/
div.questionblock {
	border : 1px solid #ACB9C7;
	background-color : white;
	padding : 4px;
	margin-bottom : 10px;
}
div.quizquestion {
	margin-bottom : 5px;
}
div.quizoptions {
}
div.quizdescription {
	border : 1px solid #ACB9C7;
	background-color : white;
	margin-bottom : 10px;
}
div.quizanswer {
	border : 1px solid #ACB9C7;
	background-color : white;
	margin-bottom : 10px;
}

/***************************************************** SHOUTBOX **************************************************************/
div.shoutboxmsg {
	border : 1px solid #ACB9C7;
	border-bottom : 0;
	background-color : white;
	margin-bottom : 0px;
	padding : 4px;
	padding-bottom : 1px;
}
div.shoutboxmsg:last {
	border-bottom : 1px solid #ACB9C7;
}
div.shoutboxmodmsg {
	font-size : 10px;
	margin : 0 5px 4px 5px;
	padding-top : 5px;
	padding-bottom : 1px;
}
textarea.tshoutbox{
	background-color : white;
	border : 1px solid #ACB9C7;
	color : #5A5A58;
	font-size : 10px;
	width : 156px;
}
.wiki-table {
	border-color : 1px solid #ACB9C7;
}
.wiki-tr-a td {
	background-color : #DDDDDD;
	border : 0;
}
.wiki-tr-b td {
	background-color : #EEEEEE;
	border : 0;
}

/*************************************************** DIRECTORY ***************************************************/
div.dircategs {
	border : 1px solid #ACB9C7;
	padding : 5px;
}
.dirlink {
	color : #5A5A58;
}
.dirsublink {
	font-size : 10px;
	color : #5A5A58;
}
div.dirlistsites {
	background-color : white;
	padding-left : 5px 0 10px 5px;
	border : 1px solid #ACB9C7;
	margin-top : 10px;
}
div.dirsite {
	background-color : #F7F9FA;
	margin : 5px;
}
span.dirsitedesc {
}
span.dirsitetrail {
	font-size : 10px;
}
span.dirsitecats {
}
.dirsitelink {
	color : #5A5A58;
}
div.dirrelated {
	background-color : White;
	margin-top : 10px;
	border : 1px solid #ACB9C7;
	padding : 5px;
}
td.dirfooter {
	font-size : 9px;
}
div.dirfooter {
	margin-top : 10px;
	border : 1px solid #ACB9C7;
}

/*************************************************** MESSAGES ***************************************************/
td.prio1, td.prio2, td.prio3, td.prio4, td.prio5 {
	border : 1px solid #ACB9C7;
	padding-left : 2px;
}
td.prio1 {
	background-color : #F7F9CA;
}
td.prio2 {
	background-color : #F7F9EA;
}
td.prio3 {
	background-color : #F7F9FA;
}
td.prio4 {
	background-color : #F7F9FD;
}
td.prio5 {
	background-color : #F7F9FF;
}
div.messureadflag {
	background-color : #CCCCCC;
	padding-left : 5px;
}
div.messureadhead {
	background-color: #DEDEDE;
	margin-top: 2px;
}
div.messureadbody {
	margin-top : 5px;
	background-color : #DEDEDE;
}
.readlink {
	font-size : 10px;
	color : #5A5A58;
}
/********************* trackers  *********************/
.statuson {
	padding : 1px;
	margin : 1px;
	border : 1px inset #666666;
	border-radius : 20px;
	-moz-border-radius : 20px;
	-khtml-border-radius : 20px;
	vertical-align : middle;
	background-color : #BBAA99;
}
.statusoff {
	padding : 1px;
	margin : 2px;
	vertical-align : middle;
}
/******************************************** Tiki calendar *********************************************/
#calendar {
	width : 100%;
}
.Cal0, .Cal1, .Cal2 {
	PADDING-RIGHT: 0px;
	BORDER-TOP: #B9CCD5 1px dashed;
	FONT-SIZE: 10px;
	COLOR: #425262;
	padding-top: 2px;
	padding-bottom: 2px;
	background-repeat: no-repeat;
	background-position: left top;
	text-indent: 8px;
}
.Cal0 {
	background-image: url(hec/attente2.gif);
}
.Cal1 {
	background-image: url(hec/confirmer2.gif);
}
.Cal2 {
	background-image: url(hec/annuler2.gif);
}

.Cal0:before {
}
.Cal1:before {
	background-color : #FFCC77;
}
.Cal2:before {
	background-color : #EEEEAA;
}
.caltitle {
	font-weight : bold;
	color : #425262;
}
.calcheckbox {
	background-color : #FFFFFF;
}
.caltoggle {
	font-size : 9px;
	margin-bottom : 7px;
}
.calfocus {
	font-size : 9px;
	background-color : transparent;
}
.calfocus a {
	text-decoration : none;
	font-weight : normal;
	color : #5A5A58;
}
.calfocuson {
	font-size : 9px;
	background-color : #155D8E;
}
.calfocuson a {
	text-decoration : none;
	font-weight : bold;
	color : #FFFFFF;
}

.Calwiki, .Calblog, .Calgal, .Calart, .Calforum, .Caldir, .Calfgal,
.Calfaq, .Calquiz, .Caltrack, .Calsurv, .Calnl, .Caleph, .Calchart {
	border-top : 1px dashed #CCCCCC;
	font-size : 10px;
	padding : 0 3px;
	margin-top : 0;
}

.Calwiki a {
	color : #443F39;
	font-weight : normal;
}
.Calwiki:before {
	content : "w";
	font-family:  Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Calblog a {
	color : #443F39;
	font-weight : normal;
}
.Calblog:before {
	content : "b";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Calgal a {
	font-weight : normal;
	color : #303F49;
}
.Calgal:before {
	content : "i";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Calart a {
	color: #304F30;
	font-weight: normal;
}
.Calart:before {
	content : "a";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Calforum a {
	color : #304F30;
	font-weight : normal;
}
.Calforum:before {
	content : "o";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Caldir a {
	color : #304F30;
	font-weight : normal;
}
.Caldir:before {
	content : "d";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Calfgal a {
	color : #304F30;
	font-weight : normal;
}
.Calfgal:before {
	content : "f";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Calfaq a {
	color : #304F30;
	font-weight : normal;
}
.Calfaq:before {
	content : "q";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Calquiz a {
	color : #304F30;
	font-weight : normal;
}
.Calquiz:before {
	content : "z";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Caltrack a {
	color : #304F30;
	font-weight : normal;
}
.Caltrack:before {
	content : "t";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Calsurv a {
	color : #304F30;
	font-weight : normal;
}
.Calsurv:before {
	content : "s";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Calnl a {
	color : #304F30;
	font-weight : normal;
}
.Calnl:before {
	content : "n";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Caleph a {
	color : #304F30;
	font-weight : normal;
}
.Caleph:before {
	content : "e";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.Calchart a {
	color : #304F30;
	font-weight : normal;
}
.Calchart:before {
	content : "c";
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color : #FFFFFF;
}
.calweb {
	font-weight : bold;
	font-size : 10px;
	text-decoration : none;
	padding-left : 3px;
	padding-right : 3px;
	color : #336699;
}
.calweb:hover {
	color : #996633;
}
#calprio {
	margin-left : 7px;
	padding : 0 5px;
	color : #5A5A58;
}
.calprio1 {
	background-color : #DAE0E0;
}
.calprio2 {
	background-color : #DADCDC;
}
.calprio3 {
	background-color : #DAD0D0;
}
.calprio4 {
	background-color : #DACACA;
}
.calprio5 {
	background-color : #DAC0D0;
}
.calprio6 {
	background-color : #DABABA;
}
.calprio7 {
	background-color : #DAB0B0;
}
.calprio8 {
	background-color : #DAAAAA;
}
.calprio9 {
	background-color : #DA9A9A;
}
.calprio1 a, .calprio2 a, .calprio3 a, .calprio4 a, .calprio5 a,
.calprio6 a, .calprio7 a, .calprio8 a, .calprio9 a {
	color : #5A5A58;
	font-weight : normal;
}
div.tabrow {
	background-color : #FAF5EF;
	border : 1px solid #E66109;
	padding: 3px;
: 0;
	font-size : 11px;
}
#tablegend {
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
} 
.confirmer {
   /*font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   background-image: url(confirmer.gif);
   height: 8px;
   width: 8px;
   padding-right: 30px;
   padding-left: 12px;
   background-repeat: no-repeat;
   background-position: left;*/

font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   background-image: url(confirmer.gif);
   height: 8px;
   padding-right: 30px;
   padding-left: 12px;
   background-repeat: no-repeat;
   background-position: left; 
}
.attente {
  /* font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   background-image: url(attente.gif);
   height: 8px;
   width: 8px;
   padding-right: 30px;
   padding-left: 12px;
   background-repeat: no-repeat;
   background-position: left;*/

font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   background-image: url(attente.gif);
   height: 8px;
   padding-right: 30px;
   padding-left: 12px;
   background-repeat: no-repeat;
   background-position: left; 
}
.annuler {
   /*font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   background-image: url(annuler.gif);
   height: 8px;
   width: 8px;
   padding-right: 30px;
   padding-left: 12px;
   background-repeat: no-repeat;
   background-position: left;*/

font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   background-image: url(annuler.gif);
   height: 8px;
   padding-right: 30px;
   padding-left: 12px;
   background-repeat: no-repeat;
   background-position: left; 
} 
td.middle {
	vertical-align : middle;
}
.daterow {
  padding : 0 5px;
  border : 1px outset #ddd;
  background-color : #ddd;
}
.daterow:hover {
  background-color : #fff;
  cursor : pointer;
}
.daterow:active {
  border : 1px inset #ddd;
}
.mininotes {
	font-size : 9px;
	color : #666666;
}
.opaque {
	background-color: #FFFFFF;
	width : auto;
	border : 1px solid #666666;
	border-radius : 10px;
	-moz-border-radius : 10px;
	-khtml-border-radius : 10px;
	padding : 5px;
}
.opaque .box-title,
.opaque .box-data {
	width: auto;
}
.calcontent {
	min-height: 60px;
}
.viewmodeon {
	padding : 0px;
}
.viewmodeoff {
	padding-left : 0px;
}
a.viewmodeon img {
	margin : 0;
	padding : 0;
}
a.viewmodeoff img {
	margin : 0;
	padding : 0;
}
#caltable {

}
/*************************** user menu ***************/
.option {
}
.optionline {
	border-top : 1px dashed #ACB9C7;
	margin-top : 2px;
	padding-top : 2px;
}
/*************************** other misc styles ***************/
div.tree {
	text-align : left;
	padding-left : 1.5em;
}
div.tree#top {
	border : 1px outset #46596f;
	padding : 10px;
}
/* TikiIntegrator: By default copy rules dialog not shown */
div#rules-copy-panel {
	displayi : none;
}
/* JsCalendar wrapper */
#datrigger {
	border : 1px outset #666666;
	padding : 1px 3px 1px 5px;
	margin : 2px;
	cursor : pointer;
	font-weight : bold;
}
.calendar {
	z-index: 200;
}
table.commentinfo {
	width : 100%;
	background-color: #FAC985;
}
div#loadstats {
	font-size: 11 px;
	color : #666666;
	padding : 5px;
}

/* phplayers style */
.box-data table {
	width : 100%;
}
.mdkverbar  {
	margin : 0px;
}
.mdksubmenu {
	z-index : 999;
	position : absolute;
	left : 0;
	top : 0;
	background-color : #FFFFFF;
	visibility : hidden;
}
.mdksubmenu table {
	width : auto;
}
.mdksubframe  {
	z-index : 1000;
	position : relative;
	display : block;
	border : 1px solid #5A5A58;
}
.mdkitem {
	border-top : 1px solid #DEDEDE;
	position : relative;
	text-align : left;
	white-space : nowrap;
}
.mdkitem a  {
	padding : 2px 5px;
	position : relative;
	display : block;
}
.mdkitem a:visited  {
}
.mdkitem a:hover  {
}
.mdkitem a:active {
	color : #993300;
}
.mdkitem .mdkfwdarr {
	position : absolute;
	top : 5px;
	right : 12px;
}
/* toc */
.toc {
}
.toc li {
	margin-top : 3px;
}
.tocnav {
	background-color : #EEEEEE;
	margin-bottom : 16px;
}
.tocnav table {
	width : 100%;
	background-color : #FFFFFF;
}
.tocnav a {
	font-size : 10px;
	color : #424242;
}
#clear {
	clear : both;
}
/***************** tiki tabs ***************/
.tabmark {
	display : inline;
	font-size : 10px;
	background-color : #E1E6EB;
	border : 1px solid #4E6996;
	margin : 0px 5px 0px 0px;
	padding: 0px 0 4px;
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0;
	-khtml-border-radius : 5px 5px 0 0;
}
.tabmark a {
	text-decoration: none;
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0;
	-khtml-border-radius : 5px 5px 0 0;
	border-bottom : 0;
	color : #4E6996;
	font-weight : bold;
	padding : 1px 5px;
}
.tabmark a:active {
	background-color : white;
	color : #997090;
	text-decoration: none;
}
.tabmark a:hover {
	color : #5A5A58;
	background-color : #E1E6EB;
	text-decoration: none;
}
.tabcontent {
	z-index : 200;
	position : relative;
	border : 1px solid #60A4D3;
	padding: 6px 2px 2px 2px;
	margin: 5px;
	margin-top : 0;
	background-color: #FFFFFF;
	border-radius : 0px 4px 4px 4px;
	-moz-border-radius : 0px 4px 4px 4px;
	-khtml-border-radius : 0px 4px 4px 4px;
}

/*********************** Version Plugin Style **********************/
.versions {
	border-top : 1px dashed #999999;
	border-bottom : 1px dashed #999999;
	min-height : 142px;
}
.versionav,
.versionav:after {
	display : inline;
	float : right;
	border-left : 1px dashed #999999;
}
.versionav .button2 {
	display : block;
	border : 0;
	border-bottom : 1px dashed #999999;
	background-color : none;
}
.versionav .button2 .linkbut {
	border : 0;
	background-color : inherit;
	padding : 0 10px;
}
.versionav .highlight {
	background-color : #CCCCCC;
	font-weight : bold;
}
.versiontitle,
.versiontitle:after {
	font-weight : bold;
	border-bottom : 1px dashed #999999;
	border-left : 1px dashed #999999;
	padding : 2px 30px;
	float : right;
}
/* end of css file */
b {
	color: #000000;
}
p{
	text-align: left;
	margin-right: 10px;
	margin-left: 10px;
}

/* tiki-admin menu */
div.admbox {
  border: 2px solid #B2AEAB; height: 100px; width: 100px;
  text-align: center; float: left; margin: 5px;
}
div.admbox:hover { background-color: #C88FAF; color: black; }
div.admbox img { margin-top: 20px; }

.tellafriend {text-align:right;}

.highlight_word_0{color:black;background-color: #ffff66;}
.highlight_word_1{color:black;background-color: #ff9999;}
.highlight_word_2{color:black;background-color: #A0FFFF;}
.highlight_word_3{color:black;background-color: #ff66ff;}
.highlight_word_4{color:black;background-color: #99ff99;}

/* Lists in modules */
.box-data ol,
.box-data ul {margin-left: -1em;padding-right: 1em}
/* IE */
* html .box-data ol {	margin-left: 3em;}
* html .box-data ul {	margin-left: 2em;}
/* IE7 */
*:first-child+html .box-data ol,
*:first-child+html .box-data ul {margin-left: 3em;}

/* Module-flip img */

h3.box-title {
	position: relative;
}

.box a.flipmodtitle img {
	display: block;
	position: absolute;
	right: 2px;
	top: 0;
	height: 10px;
	width: 10px;
	border: 1px solid transparent;
}

a.flipmodtitle:hover img {
	border: 1px solid #b2aeab !important;
}
/* end of css file */
