/* $Header: /cvsroot/ranchbe/ranchbe0.7/web/styles/modern.css,v 1.1 2009/06/05 17:06:43 ranchbe Exp $ /cvsroot/tikiwiki/tiki/styles/modern.css,v 1.2 2006/09/16 14:22:42 ohertel Exp $ */
/* Modern Style for Tiki 1.9+ by Oliver Hertel */

/* --- general layout --- */

body {
    background: white;
    margin: 0px;
    padding: 0px;
}

body, div, span, a, td, th {
    color: black;
    font: 10pt 'trebuchet ms', verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
    color: black;
}

.tiki-main { width: 100%; }

#tiki-top-menu, #tiki-bot {
    background-color: #eeeeee;
    color: black;
}

/* left and right column */
#leftcolumn, #rightcolumn {
    vertical-align: top;
    width: 175px;
    padding: 2px;
}

#tiki-mid, #centercolumn {
    vertical-align: top;
    width: 100%;
}

/* wiki */

div #pagebar {
    margin-top: 2px;
    margin-bottom: 2px;
}

.wikibar {
    width: 100%;
}

a { text-decoration: none; color: blue; }
a:hover { color: #e76300; }
a.tableheading { color: white; }
a.tableheading:hover { color: #e76300; }
.linkbut {
  line-height: 1.7em;
  border-radius : 6px 6px 6px 6px;
  -moz-border-radius : 6px 6px 6px 6px;
  -khtml-border-radius : 6px 6px 6px 6px;
  padding: 1px 3px 1px 3px;
  text-decoration: none;
  background-color: #eeeeff;
  border: 1px solid #8899dd;
}
.linkbut:hover {
  line-height: 1.7em;
  padding: 1px 3px 1px 3px;
  text-decoration: none;
  background-color: #e76300;
  color: blue;
  border: 1px solid #8899dd;
}

h1, h2, h3, h4, h5, h6, p, .blogtitle, .separator, a.pagetitle
{
    line-height: 1.2em;
    color: #e76300;
    margin-top: 2px;
    margin-right-value: 17px;
    margin-bottom: 5px;
    margin-left-value: 17px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
}

.pagetitle { padding: 10px; }

/* menus */

.separator { font-weight: bold; }
.option { margin-left: 10px;}

/* --- boxes --- */
.box {
    width: 175px;
}

.box-titletext, .titleb { color: white; font-weight: bold; padding: 1px; }

h3.box-title, .xxbox-title, .cbox-title, .articletitle, .tabmark, div.posthead,
.heading, div.blogtitle {
    background-image: url(modern/bluebar.jpg);
    color: white;
    font-weight: bold;
    margin-bottom: 1px; margin-top: 0;
    padding: 2px 0px 2px 0px;
    text-align: left;
}

.box-title a, .tabmark a {
    color: white;
    font-weight: bold;
    margin-bottom: 1px;
    padding: 1px;
    text-align: center;
}

.box-data, .xxbox-data, .cbox-data, form.comments, .editdate, .subcomment, div#comzoneopen,
div#pagebar, div#forumpostopen, div.mini, div#forumpost, form#editpageform, div.bloginfo {
    background-color: #eeeeff;
    margin-bottom: 8px;
    padding: 1px 1px 2px 4px;
    border: 1px solid #8899dd;
    overflow: auto; flow: left;
}

.tabcontent {
    background-color: #eeeeff;
    color: blue;
    margin-top: 2px;
    margin-bottom: 8px;
    padding: 1px 1px 2px 4px;
    border: 1px solid #8899dd;
    overflow: auto;
}

.flipmodimage { margin-left: 2px; }

.xxbox-data ul {
    margin-left: -15px;
}

.simplebox {
    border: 1px solid #8899dd;
}

/* --- calendar --- */
.caltable {
    margin-left: -1px;
    width: 100%;
}
.date {
    font-weight: bold;
}
.fc, .fce, .fct, .fcold, .fceold, .fcmarked {
    width: 25px;
    border-right: 1px solid #ecf5fa;
    border-bottom: 1px solid #ecf5fa;
}
.fc, .fct {
    background-color: #8899dd;
}
.fce {
    background-color: #6677bb;
}
.fcold, .fceold {
    background-color: #909090
}
.fcmarked {
    background-color: #e76300;
}
.today, .todaymarked {
    font-weight: bold;
    font-style: italic;
}

/* --- wiki pages --- */
.wikitext { padding: 10px; }
.wikitext a { color: blue; }

/* --- articles --- */
.article {
    margin-bottom: 4px;
}

.article {
    padding: 2px;
}

.articletitle, div.posthead {
    text-align: left;
    padding: 2px;
}

.posthead small { color: white; }

.titlea, .posthead h3, .commentstitle, div.blogtitle {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.articleheading, .postbody, div.blogdesc {
    padding: 4px 0px 4px 0px;
    text-align: left;
}

.articleimage {
    padding-right: 4px;
}

.articlebody {
    border: 1px solid #8899dd;
    padding: 4px;
}

#commentshelp {
    border: 1px solid #8899dd;
}

div.articletrailer, div.dirsite {
    margin-top: 2px;
    border-top: 1px solid #8899dd;
}

/* --- categories --- */
.catlists a.link {
    color: blue; 
    line-height: 150%;
    padding: 0px 4px 0px 4px;
    border: 1px solid blue;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
}

.catlists a.link:hover {
    color: #e76300;
    border: 1px solid #e76300;
}

.forumuser { width: 120px; }
table.normal { width: 100%; }
p.editdate { margin-bottom: 20px; }
img.externallink { margin-left: 2px; }
.rssitem { margin-left: -25px; }
.even { background-color: white; }
.odd { background-color: #eeeeff; }
a.sortheader, td.heading a.link, th.heading a.link, .posthead a.link { color: white; }

td.button {
  text-align: center; 
  vertical-align: middle;
  width: 100%;
  margin-top: 2px;
  border: 1px solid #8899dd;
  background-color: white;
}

table.admin {
  width: 100%;
}

.posthead h3 { text-align: left; }

div#edithelpzone { display: none; }
div#attzone { display: none; margin-top: 10px; }
div#attzoneopen { display: block; margin-top: 10px; }

#comzone { display: none; margin-left: 1px; margin-right: 1px; margin-top: 5px; margin-bottom: 5px; padding-left: 2px; padding-right: 2px; }
#comzoneopen { display: block; margin-left: 1px; margin-right: 1px; margin-top: 5px; margin-bottom: 5px; padding-left: 2px; padding-right: 2px; }

#forumpost { display: none; }
#forumpostopen { display: block; }

div#rules-copy-panel { display: none; }

/* tiki-admin menu: */
a.admbox {
  /* 100x100 2px-bordered boxes with centered icon and text within */
  border: 2px solid #8899dd; height: 100px; width: 100px;
  text-align: center; overflow: hidden;
  float: left; margin: 5px;
  background-color: #b0ffb0;
}
a.admbox img { padding-top: 20px; }
a.admbox.off { background-color: #d0d0d0; }
a.admbox:hover { background-color: #a0a0a0; }

table.chatroom { width: 100%; }
div.wikitopline table { text-align: right; width: 100%; }

/** rbox: remarks box (note/warning/tip/comment) */
/* split, so that it works with firefox and IE */
.rbox {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.rbox-title { 
  padding: 0 10px;
  font-size: small;
  position: relative;
  display: inline;
  margin: 0;
  font-weight: bold;
  background-color: #EEEE9C;
}
.rbox-title[name="warning"] {
  border-radius-topright : 1ex;
  -moz-border-radius-topright : 1ex;
  -khtml-border-radius-topright : 1ex;
  font-size: small;
  padding: 0 10px;   
  position: relative;
  display: inline;
  margin: 0;
  font-weight: bold;
  background-color: #EEEE9C;
}
.rbox-title[name="note"] {
  background-color: #EEEE9C;
}
.rbox-title[name="comment"], .rbox-title[name="tip"] {
  background-color: #EEEE9C;
}

.rbox-data {
  padding: 2px;
  margin: 1px;
  font-size: small;
  background-color: #EEEE9C;
  border: 1px solid #DDCCCC;
}
.rbox-data[name="warning"] {
  background-color: #EFECEC;
  border: 1px solid #DDCCCC;
}
.rbox-data[name="note"] {
  background-color: #ECECEF;
  border: 1px solid #CCCCDD;
}
.rbox-data[name="comment"], .rbox-data[name="tip"] {            
  background-color: #EEEE9C;
  border: 1px solid #DDCCCC;
}

h1 a.pagetitle { font-size: 18pt; font-weight: bold; }

table.box-title tr td { width: 100%; }

ul.toc { margin-left: 5px; }
li.toclevel { margin-left: -30px; }
input.wikitext { padding: 0px; }

.daterow {
  padding : 0 5px;
  border : 1px outset #ddd;
  background-color : #ddd;
}
.daterow:hover {
  background-color : #fff;
  cursor : pointer;
}
.daterow:active {
  border : 1px inset #ddd;
}

.tellafriend {text-align:right;}

.highlight_word_0{color:black;background-color: #ffff66;}
.highlight_word_1{color:black;background-color: #ff9999;}
.highlight_word_2{color:black;background-color: #A0FFFF;}
.highlight_word_3{color:black;background-color: #ff66ff;}
.highlight_word_4{color:black;background-color: #99ff99;}

/* Lists in modules */
.box-data ol,
.box-data ul {margin-left: -1em;padding-right: 1em}
/* IE */
* html .box-data ol {	margin-left: 3em;}
* html .box-data ul {	margin-left: 2em;}
/* IE7 */
*:first-child+html .box-data ol,
*:first-child+html .box-data ul {margin-left: 1em;}

/* Module-flip img */

h3.box-title {
	position: relative;
}

.box a.flipmodtitle img {
	display: block;
	position: absolute;
	right: 2px;
	top: 2px;
	border: 1px solid transparent;
}

a.flipmodtitle:hover img {
	border: 1px solid #8899dd !important;
}
/* end of css file */
