/* 
$Header: /cvsroot/ranchbe/ranchbe0.7/web/styles/mose.css,v 1.1 2009/06/05 17:06:43 ranchbe Exp $
2003 - created and maintained by mose@tikiwiki.org

colorset:
sand light: #EFEFE7;
sand medium: #DED6C6;
beige: #B5A58C;
marron: #6A5A49;


*/

body {
	font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:   #EFEFE7;
	margin:   0px;
}
H1, H2, H3 {
	font-weight:    bold;
	font-family:   Arial, Helvetica, sans-serif;
	margin:   0px;
}

H1 {
	font-size: 24px;
	margin: 6px 0 2px 0;
	line-height : 24px;
}

H2 {
	font-size: 18px;
	margin: 6px 0 2px 0;
	line-height : 18px;
}

H3 {
	font-size: 14px;
	margin: 6px 0 2px 0;
	line-height : 14px;
}
table {
padding: 0;
margin: 0;
border-spacing: 0;
}
tr, td {
padding: 0;
margin: 0;
vertical-align: top;
text-align:   left;
}
FORM {
	margin:    0px 0px 0px 0px;
	padding-bottom:   0px;
	padding-left:   0px;
	padding-right:   0px;
	padding-top:   0px;
}

/* 
General form elements 
*/
input, select {
	font-family : monospace;
	color:    #000000;
}

textarea {
	color:    #000000;
	font-family : monospace;
	font-size : 90%;
}

input {
	text-indent: 2px;
}


a {
color: #430;
text-decoration: none;
}
a:hover {
color: #772200;
background-color: #ffffaa;
border-bottom: 1px solid #000000;
}
a:active {
color: #990000;
}

ul {
	margin: 0;
	padding: 0 0 0 35px;
}
#fullscreenbutton {
	position : absolute;
	top : 2px;
	left : 190px;
}
/*
GENERAL LAYOUT 
*/

DIV#tiki-main {
	margin:   0px;
	padding:   0;
}
#tiki-top {
	font-size: 80%;
	color:   #7a6a59;
	background-color:    #DED6C6;
}

#tiki-top a.linkh {
	color:    #FFFFFF;
	font-weight:   bold;
	letter-spacing:   2px;
	text-decoration:   none;
	padding: 0 4px;
	font-size : 140%;
}
#tiki-top a.linkh:hover {
	background-color : #000000;
	color : #FFFF99;
}

#tiki-top .left {
	background-color:    #000000;
	color :   #FFFFFF;
	width : 180px;
	text-align : left;
	padding-left : 2px;
}

#tiki-top .right {
	background-color:    #000000;
	color :   #FFFFFF;
	width : 180px;
	text-align : right;
	padding-right : 2px;
}

#tiki-top .center {
	padding-left: 25px;
}

#tiki-top .link {
	background-color:    #000000;
	color:   #FFFFFF;
	padding-left:   6px;
	padding-right:   6px;
	padding-bottom:   1px;
}

#tiki-top .link:hover {
	background-color:    #423222;
	text-decoration:   none;
}
#topbar {
	width : 100%;
}
/* 
This is the middle 
*/
DIV#tiki-mid {
	margin : 0;
	padding : 0;
}
/* 
And this is the footer 
*/
DIV#tiki-bot {
	padding-top:    5px;
	margin-top:   20px;
	background:   #DED6C6;
	padding-bottom:   0px;
}
/* 
The three columns 
*/
TD#leftcolumn {
	vertical-align :   top;
	background:   #DED6C6;
	width :   180px;
}

TD#rightcolumn {
	vertical-align :   top;
	background:   #DED6C6;
	width :   180px;
}

TD#centercolumn {
	background-color :   #EFEFE7;
	vertical-align :   top;
	border-top :   1px solid #5A4A39;
	padding : 0 10px;
	width : 100%;
}
DIV#tiki-center {
	vertical-align : top;
}
DIV#tiki-mid > table {
	border-spacing : 0;
	margin : 0;
	padding : 0;
}

div#debugconsole {
	position:    absolute;
	background-color:   #eeddcc;
	color:   #009000;
	top:   0px;
	left:   20px;
	right:   310px;
	height:   auto;
	width:   auto;
	z-index:   1;
	padding:   5px;
	border:   6px ridge #996600;
	font-size:   12px;
}

span.on-option {
	color: #00C000;
}

span.off-option {
	color: #005000;
}

/*
GENERAL STYLE PROPERTIES 

BOXES boxes are used to present a box with a title 
bar and content, they are used for modules and they
are also used in the rankings, admin screen etc.
The box class is used for modules while the cbox 
class is used for other boxes
*/

/* 
Boxes used for modules 
(modules are those boxes in the left/right columns) 
*/
div.box {
	background:    white;
	border:   1px solid black;
	overflow:   hidden;
	width: 180px;
}

/* 
Boxes are divided in title and data, this is the title 
*/
h3.box-title {
	background-color:    #6A5A49;
	color:   #ffffff;
	font-size:   10px;
	overflow:   hidden;
	text-align:   left;
	padding:   0 5px 0 5px;
	margin-bottom:   1px;
	background-image:   url(mose/bgtitlebox.png);
	background-position:   top;
	background-repeat:   repeat-x;
}

div.box-title table {
}

/* 
And this is the data 
*/
div.box-data {
	overflow:    hidden;
	color:   black;
	font-size:   11px;
	padding:   1px 3px 1px 3px;
}

div.box-data li:before {
	content:    "- ";
	color:   #772200;
	font-weight:   bold;
}

div.box-data li {
	border-bottom: 1px dashed #aaaaaa;
}

/* 
When modules display a list of items each item is enclosed 
in a cell with the following style 
*/
TD.module {
	color:   black;
	text-align:   left;
	font-size: 11px;
}

/* 
Links in modules 
*/
.linkmodule {
}

.linkmodule:active {
}

.linkmodule:hover {
}

/* 
Now the boxes for the rest of Tiki (non-modules 
*/
div.cbox {
	background:    white;
	margin:   4px;
	border:   1px solid black;
	padding-bottom:   10px;
	overflow:   hidden;
}

/* 
Boxes are divided in title and data, this is the title 
*/
div.cbox-title {
	background-color:    #756555;
	color:   white;
	border-bottom:   1px solid black;
	font-size:   10px;
	overflow:   hidden;
	text-align:   left;
	padding-left:   10px;
	padding-right:   0px;
	margin-bottom:   0px;
}


/* 
When there's a link in a cbox-title 
*/
.cboxtlink, div.cbox-title a {
	color:   white;
}

.cboxtlink:active, div.cbox-title a:active {
	color:   white;
}

.cboxtlink:hover, div.cbox-title a:hover {
	color:   #EFEFEF;
}

/* 
And this is the data 
*/
div.cbox-data {
	overflow:    hidden;
	margin-left:   5px;
	margin-right:   5px;
	font-size:   11px;
	color:   black;
        background:   #EFEFE7;
}

/* 
Menus
*/
div.separator, div.separatorline {
	background:    #dadac9;
	color:   #003163;
	font-size:   11px;
	margin-top:   2px;
	width:   170px;
}
div.separator:hover {
	background: #dada89;
}

.separatorline, .optionline {
  border-top: 1px solid #dedede;
  margin-top: 3px;
  padding-top: 3px;
} 
/* style for rss lists in modules or in wiki */
.rsslist {
        margin-right : 4px;
        padding : 0;
        border : 1px solid #ccc;
}
.rssitem {
        list-style : none;
        margin : 0;
        padding : 2px;
        border-bottom : 1px dashed #ccc;
}
.rsslist .rssitem:lastchild {
        border-bottom : 0;
}
.rssdate {
        display : block;
        font-size : 70%;
        color : #999;
}

.daterow {
        padding : 1px 10px;
        border : 2px outset #666;
}
.daterow:hover {
        cursor : pointer;
        background-color : #abc;
}
.daterow:active {
        border : 2px inset #666;
}

/* 
Links to extend/collapse menus 
*/
.separator {
}

.separator:active {
}

.separator:hover {
}
/* 
Links to collapse menus for example the main menu 
can be completely collapsed
*/
.flip {
	font-size : 80%;
}

.flip:active {
}

.flip:hover {
}

/* 
Banners of type text (textadds) are displayed 
as links using the following style 
*/
.bannertext {
	font-size:    10px;
	color:   #545444;
	text-decoration:   none;
}

.bannertext:active {
	font-size:    10px;
	color:   #863210;
	text-decoration:   none;
}

.bannertext:hover {
	font-size:    10px;
	color:   black;
	text-decoration:   none;
}

/* 
Some boxes uses thumbnails this is the image style 
*/
div.imagerank {
	margin-left:    5px;
	margin-right:   5px;
	margin-bottom:   10px;
	margin-top:   10px;
}

/* 
A simple box is just a div with a border around and 
some margin. used for example in the admin screen 
*/
div.simplebox {
	margin: 5px 1px 5px 1px;
	padding:   2px;
	color:   black;
	border:   1px solid #dca;
	background:   #EFEFE7;
	font-size:   11px;
}
/*
MSIE inheritence pb
*/
.form, #tiki-center table, #tiki-bot table, #tiki-mid table{
	font-size: 11px;
}

/* 
Cells in forms using a background color 
*/
.formcolor, .galform, .editblogform, .editfgalform, .comform, .forumform {
	background:   #DED6C6;
}

/* 
The table 
*/
table.listgallery, table.creategalform, TABLE.normal, table.gallerylisting, table.bloglist, table.editblogform, table.editfgalform,
	table.listfgal, table.listfiles, table.listarticles, table.forumstable, table.forumformtable, table.viewthread, table.jukeboxlist {
	border: 1px solid #5A4A39;
	border-spacing: 2px;
	width : 100%;
}

TABLE.normalnoborder {
}

/* 
Table headings 
*/
.heading, .jukeboxlistheading, .gallistheading, .listgalheading, .bloglistheading, .listfgalheading, .listfilesheading, .listartheading,
	.forumheading, .thead {
	color:    white;
	font-size:   11px;
	font-weight:   bold;
	background-color:   #5a4a39;
	padding-left:   2px;
	padding-right:   5px;
}

TD.button {
	color:    white;
	font-size:   11px;
	font-weight:   bold;
	background-color:   #5a4a39;
	padding-left:   2px;
	padding-right:   5px;
	text-align:   center;
	vertical-align:   middle;
}

/* 
Links to view an object from a table listing objects can be generalized to this link 
*/
a.tablename, a.galname, a.imagename, a.jukeboxname, a.blogname, a.fgalname, a.artname, a.forumname {
	font-weight:    bold;
	font-size:   12px;
	letter-spacing:   1px;
}

a.tablename:active, a.galname:active, a.jukeboxname:active, a.imagename:active, a.blogname:active, a.fgalname:active, a.artname:active,
	a.forumname:active {
}

a.tablename:hover, a.galname:hover, a.jukeboxname:hover, a.imagename:hover, a.blogname:hover, a.fgalname:hover, a.artname:hover, a.forumname:hover {
}

/* 
Links in table headings 
*/
.tableheading, .gallistheading, .listgalheading, .bloglistheading, .llisfgalheading, .llistfileslink, .llistart, .lforumheading {
	color:    white;
	font-size:   11px;
	font-weight:   bold;
}

.tableheading:active, .gallistheading:active, .listgalheading:active, .bloglistheading:active, .llisfgalheading:active, 
	.llistfileslink:active, .llistart:active, .lforumheading:active {
	color:    white;
}

.tableheading:hover, .gallistheading:hover, .listgalheading:hover, .bloglistheading:hover, .llisfgalheading:hover, 
	.llistfileslink:hover, .llistart:hover, .lforumheading:hover {
	color:    #CCCCCC;
}

/* 
When a find button is provided for a listing the table 
form is displayed in a table with the following style 
*/
table.findtable {
	margin-bottom:    20px;
	padding-bottom:   10px;
	width: 100%;
}

.findtable td {
	font-size: 11px;
}

/* 
Odd rows in several listings 
*/
tr.odd {
	font-size:    12px;
	color:   Black;
	background-color:   #EFEeE5;
}
tr.odd:hover {
background-color: #FFF7E6;
}
tr.even {
	font-size:    12px;
	background-color:   #fefef5;
	color:   Black;
}
tr.even:hover {
background-color: #FFF7E6;
}
TD.odd, td.gallistnameodd, td.gallistdescriptionodd, td.gallistcreatedodd, td.gallistlastModifodd, td.gallistuserodd,
	td.gallistimagesodd, td.gallisthitsodd, td.gallistactionsodd, td.listgalidodd, td.listgalnameodd, td.listgalcreatedodd, td.listgalhitsodd, td.listgaluserodd, td.listgalfilesizeodd, td.bloglistnameodd, td.bloglistdescriptionodd, td.bloglistcreatedodd, td.bloglistlastModifodd, td.bloglistuserodd, td.bloglistpublicodd, td.bloglistpostsodd, td.bloglistvisitsodd, td.bloglistactivityodd, td.bloglistactionsodd, td.listfgalnameodd, td.listfgaldescriptionodd, td.listfgalcreatedodd, td.listfgallastModifodd, td.listfgaluserodd, td.listfgalfilesodd, td.listfgalvisitsodd, td.listfgalactionsodd, td.listfilesnameodd, td.listfilesdescriptionodd, td.listfilesidodd, td.listfilesfilenameodd, td.listfilesfilesizeodd, td.listfilescreatedodd, td.listfilesdlsodd, td.listfilesnameodd, td.listfilesuserodd, td.listfilesactionsodd, td.listarttitleodd, td.listarttopicodd, td.listartpublishDateodd, td.listartauthorodd, td.listartreadsodd, td.listarthasimageodd, td.listartuseimageodd, td.listartactionsodd, td.listartsizeodd, td.forumstableodd, td.forumstableinfoodd, td.topictitleodd, td.topicrepliesodd, td.topicreadsodd, td.topicscoreodd, td.topiclastpostodd, td.topicauthorodd, td.jukeboxlistnameodd, td.jukeboxdescriptionodd, td.jukeboxcreatedodd, td.jukeboxlastmodifodd, td.jukeboxlistuserodd, td.jukeboxlisttracksodd, td.jukeboxlistvisitsodd {
	font-size:    12px;
	color:   Black;
	background-color:   #EFEeE5;
}

/* 
Even rows in several listings 
*/
TD.even, td.gallistnameeven, td.gallistdescriptioneven, td.gallistcreatedeven, td.gallistlastModifeven, td.gallistusereven, td.gallistimageseven, td.gallisthitseven, td.gallistactionseven, td.listgalideven, td.listgalnameeven, td.listgalcreatedeven, td.listgalhitseven, td.listgalusereven, td.listgalfilesizeeven, td.bloglistnameeven, td.bloglistdescriptioneven, td.bloglistcreatedeven, td.bloglistlastModifeven, td.bloglistusereven, td.bloglistpubliceven, td.bloglistpostseven, td.bloglistvisitseven, td.bloglistactivityeven, td.bloglistactionseven, td.listfgalnameeven, td.listfgaldescriptioneven, td.listfgalcreatedeven, td.listfgallastModifeven, td.listfgalusereven, td.listfgalfileseven, td.listfgalvisitseven, td.listfgalactionseven, td.listfilesnameeven, td.listfilesdescriptioneven, td.listfilesideven, td.listfilesfilenameeven, td.listfilesfilesizeeven, td.listfilescreatedeven, td.listfilesdlseven, td.listfilesnameeven, td.listfilesusereven, td.listfilesactionseven, td.listarttitleeven, td.listarttopiceven, td.listartpublishDateeven, td.listartauthoreven, td.listartreadseven, td.listarthasimageeven, td.listartuseimageeven, td.listartactionseven, td.listartsizeeven, td.forumstableeven, td.forumstableinfoeven, td.topictitleeven, td.topicreplieseven, td.topicreadseven, td.topicscoreeven, td.topiclastposteven, td.topicauthoreven, td.jukeboxlistnameeven, td.jukeboxdescriptioneven, td.jukeboxcreatedeven, td.jukeboxlastmodifeven, td.jukeboxlistusereven, td.jukeboxlisttrackseven, td.jukeboxlistvisitseven {
	font-size:    12px;
	background-color:   #fefef5;
	color:   Black;
}

TD.odddark {
	font-size:    12px;
	background-color:   #cecece;
}

TD.evendark {
	font-size:    12px;
	background-color:   #dedede;
}

TD.third {
	font-size:    12px;
	background-color:   #CCCCCC;
}

/* 
Titles 
*/

/* 
When the page title is a link this is the style 
*/
.pagetitle, .forumspagetitle {
	font-weight:    bold;
	font-size:   20px;
	font-family:   Arial, Helvetica, sans-serif;
	color:   #534333;
	background-color:   #eeeeee;
}

a.pagetitle, a.forumspagetitle {
}

a.pagetitle:hover, a.forumspagetitle:hover {
}

/* 
Non-linking titles (three levels) 
*/
/* 
Links where no special link style apply 
(usually with the general application background)
*/
.link, .gallink, .jukeboxlink, .bloglink, .fgallink, .trailer, .opencomlink, .commentslink, .admlink, .forumbutlink {
	font-size:    11px;
	background-color:   #eeeecc;
}

.link:active, .gallink:active, .jukeboxlink:active, .bloglink:active, .fgallink:active, .trailer:active, .opencomlink:active, .commentslink:active, .admlink:active, .forumbutlink:active {
}

.link:hover, .gallink:hover, .jukeboxlink:hover, .bloglink:hover, .fgallink:hover, .trailer:hover, .opencomlink:hover, .commentslink:hover, .admlink:hover, .forumbutlink:hover {
}

/* 
Search results display a date using the following style
*/
div.searchdate {
	font-size:    10px;
	color:   #333333;
}

/* 
Pagination for listings 
*/
.mini {
	font-size:    10px;
}

/* 
prev & next buttons in pagination 
*/
.prevnext, .galprevnext, .blogprevnext, .fgalprevnext, .artprevnext, .forumprevnext, .jukeboxprevnext {
	font-size:    12px;
}

.prevnext:active, .galprevnext:active, .blogprevnext:active, .fgalprevnext:active, .artprevnext:active, .jukeboxprevnext:active, .forumprevnext:active {
}

.prevnext:hover, .galprevnext:hover, .blogprevnext:hover, .fgalprevnext:hover, .artprevnext:hover, .forumprevnext:hover, .jukeboxprevnext:hover {
}

/* 
Warning background/color 
*/
.attention {
	color: red;
}

/*
THE WIKI 
*/
div.titlebar {
	background:    #B5A58C;
	color:   black;
	border-bottom:   1px solid #6A5A49;
	padding:   1px 5px 2px 5px;
	clear:   both;
	font-weight:   bold;
}

/* 
The bar where the actions for a page are displayed 
*/
DIV#page-bar {
	margin-left: 5px;
}

/* 
Wiki action buttons (the buttons displayed at the 
end of each page to edit/print/remove/etc a page 
*/
.button2, .button3 {
	color:   Black;
	font-weight:   bold;
	background:   white;
	border:   1px solid black;
	padding: 1px 0 1px 0;
	margin-left: 2px;
}
.button3 {
  border-radius : 5px 5px 0 0;
  -moz-border-radius : 5px 5px 0 0;
  -khtml-border-radius : 5px 5px 0 0;
}
.button3 .linkbut {
  border-radius : 5px 5px 0 0;
  -moz-border-radius : 5px 5px 0 0;
  -khtml-border-radius : 5px 5px 0 0;
  padding-bottom : 2px;
  border-bottom : 0;
}

/* 
Links in buttons 
*/
.linkbut {
	font-size:    11px;
	padding:  1px 5px 1px 5px;
}

.linkbut:active {
}

.linkbut:hover {
}

/* 
When a cached version of an external link is displayed 
*/
div.cache {
	background:    #EFEFEF;
	border:   1px solid black;
	padding:   0.1em;
	margin:   0.1ex 0px;
}

div.cachedpage {
	border:    1px solid black;
	padding:   0.1em;
	margin:   0.1ex 0px;
}

/* 
When an external link is cached a small link to the 
cached version (cache) is displayed using this style 
*/
.wikicache {
	font-size:    8px;
	color:   #003399;
}

.wikicache:active {
}

.wikicache:hover {
	color:   #0000FF;
}

table.wikitable {
	border: 1px solid #B5A58C;
	border-spacing: 0;
}

table.wikitable tr {
	background-color: #EFEFEF;
}
table.wikitable tr:hover {
	background-color: #dfddd9;
}
td.wikicell {
	border-top: 1px solid #ffffff;
	border-left: 1px dashed #cccccc;
	padding: 3px;
}
table.wikitable tr:first-child td.wikicell {
	border-top: 0;
}
td.wikicell:first-child {
	border-left: 0;
}

/* 
Text in wiki pages is displayed using the following style 
*/
body.wikitext, div.wikitext {
	line-height : 1.4em;
	background:    #fff;
	font-size:   12px;
	padding:  3px 10px 3px 10px;
	clear:   both;
}
div.wikitext {
	border:   1px dashed #dca;
}
body.wikitext pre, div.wikitext pre {
	font-family: monospace;
	padding: 4px;
	background-color: #FFFFFF;
	color: #666666;
	border: 1px dashed #cccccc;
	margin: 0;
	width: auto;
}
.wikitopline table { width: 100%; }
/* 
Links to wiki pages 
*/
.wiki {
	color: #430 !important;
	text-decoration: none !important;
	background-color:   #eeeecc;
}

.wiki:hover {
}

/* 
Date displayed for last modification date of pages 
*/
p.editdate {
	font-size:   smaller;
	font-family:   Helvetica, Arial, sans-serif;
}
#description {
  font-size : 10px !important;
  padding-left:   10px;
  color:   #333300;
}
/* 
The edit-help used to display the wiki 
syntax when editing a page 
*/
div.wiki-edithelp {
	background:    white;
	border:   1px solid black;
	width:   94%;
	font-size:   smaller;
	padding:   6pt;
}

/*
IMAGE GALLERIES 
*/
TABLE.galtable {
        border-collapse: collapse;
        width: 100%;
}

/* 
Gallery description 
*/
div.galdesc {
	background:    #EFEFEF;
	border:   1px solid black;
	padding:   0.5em 0.8em 0.5em;
	clear:   both;
}

/* 
Container for the whole gallery 
*/
div.browsegallery {
	background:    #EFEFE7;
	width:   100%;
}

/* 
You can set a different background color 
for odd and even rows in the thumbnails table 
*/

/* 
Thumbnails in odd rows are shown inside oddthumb tds 
*/
TD.oddthumb {
	background: white;
}

TD.eventhumb {
	background: #EFEFEF;
}

/* 
Gallery Title 
*/
div.gallerytitle {
	font-weight:    bold;
	font-size:   26px;
	font-family:   Arial, Helvetica, sans-serif;
	color:   black;
}

div.adminoptions {
	margin-top:    5px;
	margin-bottom:   5px;
	padding-top:   10px;
	padding-bottom:   10px;
}

div.sortoptions {
	margin-top:    5px;
	margin-bottom:   5px;
	padding-top:   10px;
	padding-bottom:   10px;
}

span.sorttitle {
}

span.sortoptions {
}

/* 
Container for thumbnails 
*/
div.thumbnails {
	border:    1px solid Black;
	margin-top:   10px;
	margin-bottom:   10px;
}

/* 
Thumbnails images 
*/
img.athumb {
	border: 1px solid Silver;
}

.caption {
}

/* 
No records found text  
(displayed in the table when no records) 
*/
p.norecords {
	font-weight: bold;
}

/* 
Browsing an image 
*/
table.imageinfo {
	width: 100%;
	border-color:    black;
	border-style:   solid;
	border-width:   1px;
}

td.imageinfo {
	font-size:    12px;
	color:   Black;
	background-color:   #DED6C6;
	vertical-align:   top;
	text-align:   left;
}

/* 
The whole container for the browse image screen (may be useful for a fancy background) 
*/
div.browseimage {
	background:    #EFEFE7;
}

div.imagetitle {
	font-weight:    bold;
	font-size:   26px;
	font-family:   Arial, Helvetica, sans-serif;
	color:   black;
}

div.gallerylink {
}

div.showimage {
	text-align:    center;
	margin-top:   5px;
	margin-bottom:   5px;
}

div.imageinfo {
	text-align:    center;
	margin-top:   10px;
	margin-bottom:   10px;
}

td.imageinfo {
}

table.tableinfo {
	width: 100%;
	text-align: center;
}

div.linksinfo {
	font-size:    9px;
	color:   Black;
	text-align:   center;
	border:   1px solid black;
	margin-top:   10px;
	margin-bottom:   10px;
}

/******************************************************* WEBLOGS **********************************************************/

/* The header of a weblog post */
div.posthead {
	background-color:    #B5A58C;
	font-size:   13px;
	color:   white;
	font-weight:   bold;
	overflow:   hidden;
	border:   1px solid black;
	border-bottom:   0px;
	text-align:   center;
	padding-left:   0px;
	padding-right:   0px;
	margin-bottom:   0px;
}

/* The font used in the heading of the weblog */
span.posthead {
	font-size:    13px;
	font-weight:   bold;
	color:   white;
}

/* Links in the weblog post heading (edit/remove) */
/* When there's a link in a cbox-title */
.blogt {
	font-size:    11px;
	color:   white;
	text-decoration:   none;
}

.blogt:active {
	font-size:    11px;
	color:   white;
	text-decoration:   none;
}

.blogt:hover {
	font-size:    11px;
	color:   white;
	text-decoration:   underline;
}

/* The post body */
div.postbody {
	overflow:    hidden;
	background:   white;
	border:   1px solid black;
	font-size:   11px;
	color:   black;
	padding-left:   5px;
	padding-top:   5px;
	padding-bottom:   5px;
	margin-bottom:   10px;
}

/* The weblog title */
div.blogtitle {
	color:    white;
	font-size:   11px;
	font-weight:   bold;
	font-size:   18px;
	background-color:   #5a4a39;
	padding-left:   2px;
	padding-right:   5px;
	margin-top:   10px;
	border:   1px solid black;
	border-bottom:   0px;
}

/* The weblog information */
div.bloginfo {
	background:    white;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	margin-bottom:   10px;
	font-size:   11px;
	clear:   both;
}

/* Weblog description */
div.blogdesc {
	background:    white;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	margin-bottom:   10px;
	font-size:   11px;
	clear:   both;
}

/* Links to post/edit/rss feed for the webelog are contained inside this div */
div.blogtools {
	background:    white;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	margin-bottom:   10px;
	font-size:   10px;
	clear:   both;
}

/**************************************************** FILE GALLERIES ****************************************************/

/* Listing contents of a file gallery (listing files) */
div.fgaldesc {
	background:    #EFEFEF;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	margin:   0.5ex 0px;
	clear:   both;
}

/****************************************************** CMS ***************************************************************/

/* The article title bar */
div.articletitle {
	color:    black;
	font-size:   11px;
	font-weight:   bold;
	background-color:   #B5A58C;
	border:   1px solid black;
	border-bottom:   0px;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.1em;
	padding-bottom:   0.1em;
	margin-top:   3px;
	clear:   both;
}

/* The article heading */
div.articleheading {
	background:    white;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	border-bottom:   0px;
	font-size:   11px;
	clear:   both;

}

div.articletrailer {
	background:    white;
	border:   1px solid black;
	border-bottom:   1px solid black;
	border-top:   1px dashed #999999;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.1em;
	padding-bottom:   0.1em;
	margin-bottom:   10px;
	font-size:   9px;
	text-align:   right;
	clear:   both;
}
/*
 MSIE inheritence pb + box model bug
*/
div.articletrailer {
}
.articletrailer{
	font-size: 9px;
}

/* Text in the article heading */
div.articleheadingtext {
	font-size: 12px;
	display: inline;
}

/* The body */
div.articlebody {
	background:    white;
	border:   1px solid black;
	padding-left:   0.8em;
	padding-right:   0.8em;
	padding-top:   0.5em;
	padding-bottom:   0.5em;
	margin:   10px 0px;
	font-size:   12px;
	clear:   both;
}

/* The article title */
span.titlea {
	font-size:    14px;
	font-weight:   bold;
	color:   #000000;
}

/* The author, date and number of reads */
span.titleb {
	font-size:    10px;
	font-weight:   normal;
	background-color:   #d5c59c;
}

/* The trailer */
span.trailer {
	font-size:    10px;
	font-weight:   bold;
}

/******************************************************* CALENDAR **********************************************************/

/* LINKS TO DAYS IN THE CALENDAR */
.day {
	font-size:    9px;
	text-decoration:   none;
	color:   black;
}

.day:active {
	font-size:    9px;
	text-decoration:   none;
	color:   black;
}

.day:hover {
	font-size:    9px;
	color:   black;
	background:   #CCCCCC;
	text-decoration:   none;
}

.day:link {
	font-size:    9px;
	text-decoration:   none;
	color:   black;
}

.day:visited {
	font-size:    9px;
	text-decoration:   none;
	color:   black;
}

/* LINKS FOR TODAY */
.today {
	font-size:    9px;
	color:   black;
	font-weight:   bold;
	text-decoration:   none;
}

.today:active {
	font-size:    9px;
	color:   black;
	font-weight:   bold;
	text-decoration:   none;
}

.today:hover {
	font-size:    9px;
	color:   black;
	text-decoration:   none;
	font-weight:   bold;
	background:   #CCCCCC;
}

/* Links to change month, year or go to today */
.nav {
	font-size:    9px;
	color:   black;
	font-weight:   bold;
	text-decoration:   none;
}

.nav:active {
	font-size:    9px;
	color:   black;
	font-weight:   bold;
	text-decoration:   none;
}

.nav:hover {
	font-size:    9px;
	color:   black;
	text-decoration:   none;
	font-weight:   bold;
	background:   #CCCCCC;
}

.changedate {
	font-size:    8px;
	background:   white;
	color:   black;
	font-weight:   bold;
}

.date {
	font-size:    9px;
	background:   white;
	color:   Black;
	font-weight:   bold;
}

/*************************************************** COMMENTS **************************************************************/

/* The whole comment area when it is visible and when it is not */
#comzone {
	display:    none;
	margin-left:   1px;
	margin-right:   1px;
	margin-top:   5px;
	margin-bottom:   5px;
	padding-left:   2px;
	padding-right:   2px;
}

#comzoneopen {
	display:    block;
	margin-left:   1px;
	margin-right:   1px;
	margin-top:   5px;
	margin-bottom:   5px;
	padding-left:   2px;
	padding-right:   2px;
}

/* Post comment form */
div.commentspost {
	display:    inherit;
	border:   1px solid black;
	margin-top:   10px;
	margin-right:   10px;
	padding-right:   0px;
	padding-top:   0px;
	padding-bottom:   0px;
	margin-bottom:   10px;
}

/* Help box*/
div.commentsedithelp {
	background:    white;
	border:   1px solid black;
	font-size:   smaller;
}

/* The toolbar where the ordering number of comments and find box are found */
div.commentstoolbar {
	background:    #B5A58C;
	color:   black;
	margin-bottom:   20px;
	border:   1px solid black;
	padding-top:   2px;
	padding-left:   2px;
}

/* The comment title */
span.commentstitle {
	font-weight:    bold;
	font-size:   12px;
}

/* The comment */
div.commentscomment {
	font-size:    11px;
	margin-bottom:   20px;
}

/* The header for a comment */
div.commentheader {
	background:    #BBBBBB;
	border:   0px solid blue;
	font-size:   11px;
}

/* The text */
div.commenttext {
	font-size:    11px;
	margin-left:   5px;
}

/* Links in the comment header */
.commentshlink {
	font-size:    11px;
	color:   black;
	text-decoration:   none;
}

.commentshlink:active {
	font-size:    11px;
	color:   black;
	text-decoration:   none;
}

.commentshlink:hover {
	font-size:    11px;
	color:   black;
	text-decoration:   underline;
}
.subcomment{margin-left: 5px;}
/************************************************************ CHAT *********************************************************/
table.chatroom {
	width: 100%;
	border-color:    #5A4A39;
	border-style:   solid;
	border-width:   2px;
}

td.chatchannels {
	background:    #EFEFEF;
	font-size:   11px;
	color:   black;
}

td.chatarea {
	padding-left:    0px;
	margin-left:   0px;
	font-size:   11px;
	color:   black;
	background:   #FFFFFF;
}

table.chatform {
	width: 100%;
	border-color:    #00639C;
	border-style:   solid;
	border-width:   2px;
	border-top:   0px;
}

td.tdchatform {
	color:    Black;
	background:   #EFEFEF;
	font-size:   11px;
	vertical-align:   top;
	text-align:   left;
}

span.chnormal {
	color:    red;
	font-size:   11px;
}

span.chuser {
	color:    blue;
	font-size:   11px;
	font-weight:   bold;
}

/********************************************************** POLLS ********************************************************/
div.pollresults {
	background:    white;
	border:   1px solid black;
	margin-top:   5px;
	font-size:   14px;
	padding-left:   5px;
}

table.pollresults {
	width: 100%;
}

td.pollr {
	font-size:    11px;
	color:   black;
}

/* MODULES */

/***************************************************** FORUMS *****************************************************/

/* Title for the forums page */
div.forumspagetitle {
	margin-top:    10px;
	margin-bottom:   40px;
}

table.threads {
	width: 100%;
}

td.viewthreadl {
	font-size:    11px;
	background-color:   #EFEFEF;
	height:   30px;
	vertical-align:   top;
}

td.viewthreadr {
	font-size:    11px;
	background-color:   #EFEFEF;
	height:   30px;
	vertical-align:   top;
}

/* Cells for the threads table */
td.threadsevenl {
	font-size:    12px;
	background-color:   #EFEFEF;
	vertical-align:   top;
}

td.threadsevenr {
	font-size:    13px;
	background-color:   #EFEFEF;
	vertical-align:   top;
}

td.threadsoddl {
	font-size:    12px;
	background-color:   #DDDDDD;
	vertical-align:   top;
}

td.threadsoddr {
	font-size:    13px;
	background-color:   #DDDDDD;
	vertical-align:   top;
}

td.threadseparator {
	background-color:    #EEEEEE;
	height:   5px;
}

#forumpost {
	display: none;
}

#forumpostopen {
	display: block;
}

div.forumtoolbar {
	background:    #B5A58C;
	margin-bottom:   20px;
	border:   0px;
}

td.forumtoolbar {
	color:    black;
	font-size:   11px;
	font-weight:   bold;
	text-decoration:   none;
	vertical-align:   bottom;
}

.toolbarlink {
	color:    white;
	font-size:   11px;
	font-weight:   bold;
	text-decoration:   none;
}

.toolbarlink:active {
	color:    white;
	font-size:   11px;
	font-weight:   bold;
	text-decoration:   none;
}

.toolbarlink:hover {
	color:    #CCCCCC;
	font-size:   11px;
	font-weight:   bold;
	text-decoration:   none;
}

/* Links to vote */
.forumvotelink {
	font-size:    12px;
	color:   black;
}

.forumvotelink:active {
	font-size:    12px;
	color:   black;
}

.forumvotelink:hover {
	font-size:    12px;
	color:   black;
}

/************************************************ CATEGORIES **************************************************************/
/* Links to up/top categories */
.categpath {
	color:   #424242;
	text-decoration:   none;
}

.categpath:active {
	color:   #424242;
	text-decoration:   none;
}

.categpath:hover {
	color:   #625242;
	text-decoration:   none;
}

/* Table with the subcategories */
table.subcats {
	padding: 20px 0 20px 0;
	width: 100%;
	border-spacing: 0px;
	margin-bottom: 10px;
	border: 1px solid black;
}

td.tdsubcat {
	width: 25%;
}

/* Links to subcategories */
.categlink {
	font-size:    11px;
	color:   black;
	text-decoration:   none;
	font-weight:   bold;
}

.categlink:active {
	font-size:    11px;
	color:   black;
	text-decoration:   none;
	font-weight:   bold;
}

.categlink:hover {
	font-size:    11px;
	color:   black;
	text-decoration:   underline;
	font-weight:   bold;
}

table.catobjects {
	width: 100%;
	border-spacing:    0px;
	padding-right:   0px;
	margin-bottom:   10px;
	border-color:   black;
	border-style:   solid;
	border-width:   0px;
}

td.categobjectsnameeven, td.categobjectsnameodd {
	font-size:    11px;
	background-color:   #DED6C6;
}

td.categobjectsdataeven, td.categobjectsdataodd {
	font-size:    11px;
	background-color:   #DED6C6;
}

.catname {
	font-size:    11px;
	color:   black;
	text-decoration:   none;
}

.catname:active {
	font-size:    11px;
	color:   black;
	text-decoration:   none;
}

.catname:hover {
	font-size:    11px;
	color:   black;
	text-decoration:   underline;
}
div.tree {
	text-align: left;
}
div.tree#top {
	border: 1px solid #aeaeae;
}
div.treetitle {
	color: #666666;
	background-color: #ededed;
	padding: 2px 10px 2px 10px;
}
.treenode {
	border-top: 1px solid #dedede;
}
.treenode table {
	border-spacing: 0;
}
.treenode table tr {
	background-color: transparent;
}
.treenode table tr:hover {
	background-color: #dedede;
}
.tree .treenode:first-child {
	border-top: 1px solid #999999;
}

/***************************************************** FAQS **************************************************************/
/* The list of questions */
div.faqlistquestions {
	background:    #FFFFFF;
	color:   black;
	font-size:   11px;
	border:   1px solid black;
	padding-top:   5px;
	padding-bottom:   5px;
}

/* Container for question-answer block */
div.faqqa {
	background:    #DED6C6;
	color:   black;
	font-size:   12px;
	border:   1px solid black;
	margin-bottom:   20px;
	padding-top:   5px;
	padding-bottom:   5px;
	padding-left:   5px;
}

/* The question */
div.faqquestion {
	margin-bottom:    5px;
	font-size:   12px;
}

/* The answer */
div.faqanswer {
	font-size: 12px;
}

/***************************************************** QUIZZES **************************************************************/
div.questionblock {
	border:    1px solid black;
	background:   white;
	margin-bottom:   10px;
}

div.quizquestion {
	font-size:    12px;
	margin-bottom:   5px;
}

div.quizoptions {
	font-size: 12px;
}

div.quizdescription {
	font-size:    12px;
	border:   1px solid black;
	background:   white;
	margin-bottom:   10px;
}

div.quizanswer {
	font-size:    12px;
	border:   1px solid black;
	background:   white;
	margin-bottom:   10px;
}

/***************************************************** SHOUTBOX **************************************************************/
div.shoutboxmsg {
	font-size:    12px;
	border:   1px solid black;
	background:   white;
	margin-bottom:   0px;
	padding-left:   2px;
	padding-right:   2px;
	padding-top:   1px;
	padding-bottom:   1px;
}

div.shoutboxmodmsg {
	font-size:    10px;
	margin-bottom:   4px;
	padding-left:   2px;
	padding-right:   2px;
	padding-top:   1px;
	padding-bottom:   1px;
}

textarea.tshoutbox {
	background-color:    white;
	border-bottom:   #5e5d63 1px solid;
	border-left:   #5e5d63 1px solid;
	border-right:   #5e5d63 1px solid;
	border-top:   #5e5d63 1px solid;
	color:   #000000;
	font-size:   10px;
	width:   90%;
}

/*************************************************** WIKI TOCS ***************************************************/
div.tocnav {
	font-size:    10px;
	background:   #EFEFEF;
	padding-bottom:   5px;
	padding-top:   5px;
	margin-bottom:   2px;
}

.tocnavlink {
	color:    black;
	text-decoration:   none;
}

.tocnavlink:hover {
	color:    black;
	background-color:   #EFEFEF;
	text-decoration:   none;
}

/*************************************************** DIRECTORY ***************************************************/
/* The list of categories */
div.dircategs {
	border:    0.5px solid black;
	padding-bottom:   5px;
	padding-top:   5px;
	padding-left:   5px;
}

/* Links to categories */
.dirlink {
	font-size:    12px;
	color:   black;
	text-decoration:   underline;
	font-weight:   bold;
}

.dirlink:hover {
	font-size:    12px;
	color:   #636363;
	text-decoration:   underline;
	font-weight:   bold;
}

/* Links to subcategories */
.dirsublink {
	font-size:    10px;
	color:   black;
	text-decoration:   underline;
}

.dirsublink:hover {
	font-size:    10px;
	color:   #636363;
	text-decoration:   underline;
}

/* The list of sites in any category */
div.dirlistsites {
	background-color:    white;
	padding-left:   5px;
	padding-top:   5px;
	padding-bottom:   10px;
	border:   0.5px solid black;
	margin-top:   10px;
}

/* each site in the list of sites */
div.dirsite {
	background-color:    #EFEFEF;
	margin-bottom:   10px;
}

span.dirsitedesc {
}

span.dirsitetrail {
	font-size: 10px;
}

span.dirsitecats {
}

/* Links to sites */
.dirsitelink {
	font-size:    12px;
	color:   black;
	text-decoration:   underline;
}

.dirsitelink:hover {
	font-size:    12px;
	color:   #636363;
	text-decoration:   underline;
}

/* Related categories */
div.dirrelated {
	background-color:    White;
	margin-top:   10px;
	border:   0.5px solid black;
	padding-top:   5px;
	padding-bottom:   5px;
	padding-left:   5px;
	margin-left:   5px;
}

/* Footer with stats for the directory */
td.dirfooter {
	font-size: 9px;
}

div.dirfooter {
	margin-top:    10px;
	border:   1px solid black;
}

/*************************************************** MESSAGES ***************************************************/
/* Links for priority colors */
td.prio1 {
	font-size:    11px;
	padding-left:   2px;
	background-color:   #DAD0D0;
}

td.prio2 {
	font-size:    11px;
	padding-left:   2px;
	background-color:   #DAC0C0;
}

td.prio3 {
	font-size:    11px;
	padding-left:   2px;
	background-color:   #DABABA;
}

td.prio4 {
	font-size:    11px;
	padding-left:   2px;
	background-color:   #DAAAAA;
}

td.prio5 {
	font-size:    11px;
	padding-left:   2px;
	background-color:   #DA8A8A;
}

/* Div containing links to flag/unflag messages when reading a message */
div.messureadflag {
	background-color:    #CCCCCC;
	padding-left:   5px;
}

/* Header when reading a message */
div.messureadhead {
	background-color:    #DEDEDE;
	margin-top:   2px;
}

/* Message body when reading */
div.messureadbody {
	margin-top: 5px;
}

/* Links to read emails (the subject in the mailbox listing) */
.readlink {
	font-size:    10px;
	color:   black;
	text-decoration:   underline;
}

.readlink:hover {
	font-size:    10px;
	color:   #636363;
	text-decoration:   underline;
}

/* calendar styles */
#calendar
{
width:100%;
}


/* Cal$x is the status of the event */
.Cal0, .Cal1, .Cal2 {
	border-top:    1px dashed #cccccc;
	color:   #425262;
	font-size:   10px;
	padding-right:   0px;
}

.Cal0:before {
	content: "? ";
}

.Cal1:before {
	content:    "+ ";
	background-color:   #FFCC77;
}

.Cal2:before {
	content:    "X ";
	background-color:   #eeeeaa;
}
/* misc cal styles */
.caltitle {
	font-weight:    bold;
	color:   #425262;
}

.caltab {
	padding-left:    10px;
	padding-right:   10px;
	border:   1px solid #666666;
	border-bottom:   2px solid #aeaeae;
	margin-right:   6px;
}

a.caltab {
	text-decoration:    none;
	font-weight:   bold;
	font-size:   11px;
	background-color:   #dedede;
	color:   #666666;
}

a.caltab:hover {
	background-color:    #efefaf;
	border-bottom:   2px solid #dedede;
}

.caltabon {
	padding-left:    10px;
	padding-right:   10px;
	background-color:   #ffffff;
	border:   1px solid #666666;
	border-bottom:   2px solid #FFFFFF;
	margin-right:   6px;
}

a.caltabon {
	text-decoration:    none;
	font-weight:   bold;
	font-size:   11px;
	color:   #000000;
}

a.caltabon:hover {
	background-color: transparent;
}

div#tab, div#tabcal, div#tabnav {
	margin-top:    10px;
	margin-left:   30px;
}

div#tab {
	margin-bottom: 1px;
}

div.tabcal, div.tabnav {
	padding:    10px;
	background-color:   #ffffff;
	border:   1px solid #666666;
	border-bottom:   1px solid #aeaeae;
	font-size:   11px;
}

/* checkboxes background is required for rollover display */
.calcheckbox {
	background-color: #ffffff;
}

.caltoggle {
	font-size:    9px;
	margin-bottom:   7px;
}

/* style of the popup background in case of transparent styles */
#opaque {
	background-color: #ffffff;
}

.calfocus {
	font-size:    9px;
	background-color:   transparent;
}

.calfocus a {
	text-decoration:    none;
	color:   #000000;
}

.calfocuson {
	font-size:    9px;
	background-color:   #f3e498;
}

.calfocuson a {
	text-decoration:    none;
	color:   #000000;
}

/* Style for wiki item */
.Calwiki {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
	margin-top:   0;
}

.Calwiki a {
	color: #443F39;
}

.Calwiki:before {
	content:    "w";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for blog item */
.Calblog {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calblog a {
	color: #443039;
}

.Calblog:before {
	content:    "b";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for imagegal item */
.Calgal {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calgal a {
	color: #303F49;
}

.Calgal:before {
	content:    "i";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for CMS item */
.Calart {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calart a {
	color: #304F30;
}

.Calart:before {
	content:    "a";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for forum item */
.Calforum {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calforum a {
	color: #304F30;
}

.Calforum:before {
	content:    "o";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for directory item */
.Caldir {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Caldir a {
	color: #304F30;
}

.Caldir:before {
	content:    "d";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for filegal item */
.Calfgal {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calfgal a {
	color: #304F30;
}

.Calfgal:before {
	content:    "f";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for faq item */
.Calfaq {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calfaq a {
	color: #304F30;
}

.Calfaq:before {
	content:    "q";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for quiz item */
.Calquiz {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calquiz a {
	color: #304F30;
}

.Calquiz:before {
	content:    "z";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for tracker item */
.Caltrack {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Caltrack a {
	color: #304F30;
}

.Caltrack:before {
	content:    "t";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for survey item */
.Calsurv {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calsurv a {
	color: #304F30;
}

.Calsurv:before {
	content:    "s";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for newsletter item */
.Calnl {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calnl a {
	color: #304F30;
}

.Calnl:before {
	content:    "n";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for ephemeride item */
.Caleph {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Caleph a {
	color: #304F30;
}

.Caleph:before {
	content:    "e";
	font-family:   monospace;
	background-color:   #ffffff;
}

/* Style for chart item */
.Calchart {
	border-top:    1px dashed #cccccc;
	font-size:   10px;
	padding-left:   3px;
	padding-right:   3px;
}

.Calchart a {
	color: #304F30;
}

.Calchart:before {
	content:    "c";
	font-family:   monospace;
	background-color:   #ffffff;
}


/* that style for the little mark on events with url */
.calweb {
	font-weight:    bold;
	font-size:   10px;
	text-decoration:   none;
	padding-left:   3px;
	padding-right:   3px;
	color:   #336699;
}

.calweb:hover {
	color: #996633;
}

/* set of priorities */
#calprio {
	margin-left:    7px;
	padding-left:   5px;
	padding-right:   5px;
	color:   black;
}

.calprio1 {
	background-color: #DAE0E0;
}

.calprio2 {
	background-color: #DADCDC;
}

.calprio3 {
	background-color: #DAD0D0;
}

.calprio4 {
	background-color: #DACACA;
}

.calprio5 {
	background-color: #DAC0D0;
}

.calprio6 {
	background-color: #DABABA;
}

.calprio7 {
	background-color: #DAB0B0;
}

.calprio8 {
	background-color: #DAAAAA;
}

.calprio9 {
	background-color: #DA9A9A;
}
div.tabrow {
	margin-left: 30px;
	background-color: #efefef;
	border: 1px solid #787878;
	border-bottom: 0;
	font-size: 11px;
}
td.middle {
	vertical-align: middle; 
}
.daterow {
padding-right: 20px;
}
.mininotes {
	font-size: 80%;
	color:#666666;
}
.opaque
{
	background-color: #ffffff;
	width: auto;
	border: 1px solid #666666;
	padding: 1px; 
}
.opaque .box-title,
.opaque, .box-data 
{
	width: auto;
}
/* min-height doesn't work in IE */
.calcontent {
	height: auto !important;
	height: 60px;
	min-height: 60px;
}
.viewmodeon {
	padding-left:   0px;
	padding-right:   0px;
}
.viewmodeoff {
	padding-left:   0px;
	padding-right:   0px;
}
a.viewmodeon img {
	margin: 0;
padding: 0;
}
a.viewmodeoff img {
	margin: 0;
padding: 0;
}
#caltable {
	width: 100%;
}

/*
 * help zone
 */

div#edithelpzone {
	display: none;
}

div#attzone {
	display:    none;
	margin-top:   10px;
}

div#attzoneopen {
	display:    block;
	margin-top:   10px;
}

.highlight {
	background-color:    #FFAAAA;
	color:   #000000;
}

/*
 * Caption in tables.
 * Currently in Attachments and comments only.
 */
caption {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   11px;
	font-weight:   bold;
	text-align:   right;
}

/* trees */
div.tree {
	text-align:    left;
	padding-left:   1.5em;
}
/* Root of tree (outer div) */
div.tree#top {
	border:    1px outset #000000;
	padding:   10px 1.5em 20px 1.5em;
}


/* Wiki editpage textarea */
textarea.wikiedit {
	width: 100%;
}
/* help links style */
a.tikihelp, a.tikihelp:visited {
	color:    inherit;
	border:   inherit;
	background-color:   inherit;
	font-size:   inherit;
	font-weight:   inherit;
	margin:   inherit;
	padding:   inherit;
	text-decoration:   inherit;
	vertical-align: text-top;
}

a.tikihelp:hover {
	color:    #224466;
	border:   inherit;
	background-color:   inherit;
	font-size:   inherit;
	font-weight:   inherit;
	margin:   inherit;
	padding:   inherit;
	cursor:   help;
	text-decoration:   inherit;
	vertical-align: text-top;
}
.catblock {
	border: 1px solid #aaaaaa;
}
.catlists {
	border-top: 1px solid #ffffff;
	padding: 1px 6px 1px 6px;
	background-color: transparent;
	color: #666666;
}
.catlists:last-child {
	border-bottom: 1px solid #ffffff;
}
.catlists:hover {
	background-color: #dedede;
}
.cattitle {
	color: #000000;
	font-weight: bold;
}
.catlists a.link {
	color: #666666;
	padding: 0px 4px 0px 4px;
	border: 1px solid #aaaaaa;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}
.catlists a.link:hover {
	color: #000000;
}
/* TikiIntegrator: By default copy rules dialog not shown */
div#rules-copy-panel {
    display: none;
}

/*
** JsCalendar wrapper
*/
#datrigger {
	border: 2px outset #666666;
	padding: 1px 3px 1px 5px;
	margin: 2px;
	cursor: pointer;
	font-weight:bold;
}

TABLE.admin { 
width: 100%; 
}
table.commentinfo { width: 100%; background-color: #FFF7E6; }
div#loadstats {
	background-color: #dedede;
	font-size: 70%;
	color: #666666;
	padding: 5px;
}

/* phplayers style */
#plm_menu {
	border-top : 1px solid #666;
	background-color : #fff !important;
}
.box-data table {
}

.mdkhorbar      {
}

.horbar {
  margin-left: 10px;
}

.horbaritem a {
  font-size: 10px;
  text-decoration: none;
}

.harbaritem a:visited {
  text-decoration: underline;
}

.horbaritem a:hover {
}

.mdkhorbaritem  {
  float: left;
  white-space: nowrap;
  font-size: 10px;
}

.mdkhorbaritem a        {
  display: block;
  text-decoration: none;
}

.mdkhorbaritem a:link   {
}

.mdkhorbaritem a:visited        {
}

.mdkhorbaritem a:hover  {
}

.mdkhorbaritem a:active {
}

.mdkverbar	{
	margin: 0px;
}

.mdksubmenu	{
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #FFFFFF;
	visibility: hidden;
}
.mdksubmenu table {
	width: auto;
}

.mdksubframe	{
	z-index: 1000;
	position: relative;
	display: block;
	border: 1px solid #000000;
}

.mdkitem	{
	border-top: 1px solid #dedede;
	position: relative;
	text-align: left;
	white-space: nowrap;
	font-size: 11px;
}

.mdkitem a	{
	padding: 2px 5px 2px 5px;
	position: relative;
	display: block;
	border-bottom: 0;
}

.mdkitem a:visited	{
}

.mdkitem a:hover	{
	padding: 2px 5px 2px 5px;
}

.mdkitem a:active	{
	color: #993300;
}

.mdkitem .mdkfwdarr	{
	position: absolute;
	top: 5px;
	right: 12px;
}

.toc {
}
.toc li {
	margin-top: 3px;
}
.tocnav {
	background-color: #ededed;
	margin-bottom: 16px;
}
.tocnav table {
	width: 100%;
	background-color: #ffffff;
}
.tocnav a {
	font-size: 90%;
	color: #424242;
}
/* for jscalendar */
.calendar {
	z-index: 200;
}

/* ASSORTED  */

#clear {
	clear:both;
	}
	

#Tikiring {
	z-index: 666;
}


/* tiki tabs */

.tabmark {
	display: inline;
	font-size: 85%;
	background-color: #dddddd;
	border: 1px solid #666666;
	margin: 0px;
	margin-right: 5px;
	padding: 1px 0px 1px 0px;
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0;  
	-khtml-border-radius : 5px 5px 0 0;
}
.tabmark a { 
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0; 
	-khtml-border-radius : 5px 5px 0 0;
	border-bottom : 0; 
	color: #666666;
	font-weight: 700 !important;
	padding: 1px 5px 1px 5px;
}
.tabmark a:active {
	background-color: white;
	color: red;
}
.tabmark a:hover {
	color: black;
	background-color: #CCCCCC;
}

.tabcontent {
	z-index : 200;
	position: relative;
	border: 1px solid #999999;
	padding: 6px 2px 2px 2px;
	margin-bottom: 25px;
	background-color: #eeeeee;
	border-radius: 0px 4px 4px 4px;
	-moz-border-radius: 0px 4px 4px 4px;
	-khtml-border-radius: 0px 4px 4px 4px;
	width: 100%;
}

/* trackers specific style */

.statuson {
  padding: 1px;
  margin: 1px;
  border: 1px inset #666666;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  vertical-align: middle;
  background-color: #bbaa99;
}
.statusoff {
  padding: 1px;
  margin: 2px;
  vertical-align: middle;
}
/**** coloration for c o d e plugin *****/
.codelisting 
{ font-family : monospace; padding : 2ex; background-color : #edeeef; margin : 1ex; border : 1px dashed #adacaf; }


/* Version Plugin Style */

.versions {
border-top : 1px dashed #999999;
border-bottom : 1px dashed #999999;
min-height : 142px;
}
.versionav {
display : inline;
float : right;
border-left : 1px dashed #999999;
}
.versionav .button2 {
display : block;
border : 0;
border-bottom : 1px dashed #999999;
background-color : none;
}
.versionav .button2 .linkbut {
border : 0;
background-color : inherit;
padding : 0 10px;
}
.versionav .highlight {
background-color : #cccccc;
font-weight : bold;
}
.versiontitle {
font-weight : bold;
border-bottom : 1px dashed #999999;
border-left : 1px dashed #999999;
padding : 2px 30px;
float : right;
}

/* wiki diff styles */
.diff div{border-top: 1px solid black;}
.diffheader{background-color:#5a4a39; font-weight: bold;color:white;}
.diffadded {background-color:#ccffcc;}
.diffdeleted {background-color:#ffcccc;}
.diffinldel {background-color:#ffcccc; text-decoration: line-through;}
.diffbody{background-color:#EFEeE5}
.diffchar {color: red;}

/* site identity styles */
#sitelogo a {
	border: none;
}

/**** coloration for QUOTE plugin *****/
.quoteheader {
margin: 10px 5px 0px 5px;
padding: 4px;
border-width: 1px 1px 0px 1px;
border-style: solid;
border-color: #A9B8C2;
color: black;
font-weight: bold;
background-color: #A9B8C2;
font-size: 8pt;
}
.quotebody {
margin: 0px 5px 10px 5px;
padding: 5px;
border-color: #A9B8C2;
border-width: 0px 1px 1px 1px;
border-style: solid;
color: black;
background-color: #edeeef;
}

/* tiki-admin menu */
div.admbox {
  border: 2px solid #756555; height: 100px; width: 100px;
  text-align: center; float: left; margin: 5px;
}
div.admbox:hover { background-color: #dada89; color: black; }
div.admbox img { margin-top: 20px; }

.tellafriend {text-align:right;}

.highlight_word_0{color:black;background-color: #ffff66;}
.highlight_word_1{color:black;background-color: #ff9999;}
.highlight_word_2{color:black;background-color: #A0FFFF;}
.highlight_word_3{color:black;background-color: #ff66ff;}
.highlight_word_4{color:black;background-color: #99ff99;}

/* Lists in modules */
.box-data ol,
.box-data ul {margin-left: -1em;padding-right: 1em}
/* IE */
* html .box-data ol {	margin-left: 3em;}
* html .box-data ul {	margin-left: 0em;}
/* IE7 */
*:first-child+html .box-data ol {margin-left: 3em;}
*:first-child+html .box-data ul {margin-left: 0em;}

/* Module-flip img */

h3.box-title {
	position: relative;
}

.box a.flipmodtitle img {
	display: block;
	position: absolute;
	right: 2px;
	top: 0;
	height: 10px;
	width: 10px;
	border: 1px solid transparent;
}

a.flipmodtitle:hover img {
	border: 1px solid #efefe7 !important;
}
/* end of css file */
