/* $Header: /cvsroot/ranchbe/ranchbe0.7/web/styles/nornia.css,v 1.1 2009/06/05 17:06:43 ranchbe Exp $ */

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #f7f8f4;
	margin: 0px;
}
TD {
	vertical-align: top;
}
FORM {
	margin: 0px;
	padding: 0px;
}
input, textarea, select {
	background-color: #ededed;
	color: black;
	border: 1px solid #1c60a8;
}
input {
	text-indent: 2px;
}
input[type=image] {
	border: 0;
}
input[type=submit] {
	background-color: #dedede;
}
input[type=submit]:hover {
	background-color: #aaaaaa;
	cursor: pointer;
	border: 1px solid black;
}
H1 {
	font-size: 1.6em;
	margin: 0;
	clear: both;
}

H2 {
	font-size: 1.4em;
	margin: 0;
	clear: both;
}
H3 {
	font-size: 1.2em;
	margin: 0;
	clear: both;
}
H4 {
	font-size: 1.1em;
	margin: 0;
	clear: both;
}
dl, dd {
margin : 0;
}
ul, dt, dd {
	margin: 0 10px 0 20px;
}
dt {
font-weight : bold;
}
a {
	color : #427852;
	text-decoration: none;
}
/* ---------------------------------------------- */
/* specific styles */
div#tiki-clean {
	margin: 10px;
	padding: 20px;
	border: 1px solid #666666;
}
div#tiki-main {
margin-top : 10px;
}
#tiki-top {
	font-size : .8em;
	padding : 0px 7px 0 0;
	border-bottom : 0;
}
DIV#tiki-mid {
	padding-bottom: 0px;
}
DIV#tiki-mid > table:first-child {
	width: 100%;
}
DIV#tiki-bot {
	margin-bottom: 5px;
}
TD#leftcolumn {
	vertical-align: top;
	width: 170px;
}
TD#rightcolumn {
	vertical-align: top;
	width: 170px;
}
TD#centercolumn {
	vertical-align: top;
	border: 1px solid #666666;
	-moz-border-radius : 12px 12px 0 0;
	background-color: #ffffff;
}
DIV#tiki-center {
	padding: 15px;
}
div#debugconsole {
	position: absolute;
	background-color: #cecec1;
	top: 3px;
	left: 20px;
	right: 310px;
	height: auto;
	width: auto;
	z-index: 1000;
	padding: 5px;
	border: 1px solid #1c60a8;
}
span.on-option {
	color: #000090;
}

span.off-option {
	color: #000050;
}

/* ********************* GENERAL STYLE PROPERTIES ************************** */

div.box {
	margin-bottom: 3px;
}
h3.box-title, div.box-title {
	font-size: .8em;
	margin-bottom: 1px; margin-top: 0;
	overflow: hidden;
	color: #426242;
	border-bottom: 1px solid #cccccc;
	background-color : #dfe7df;
	padding : 0 0 0 14px;
}

TD#rightcolumn div.box-title {
	text-align : right;
	padding : 0 14px 0 0;
}
div.box-title table {
    width: 100%;
}

div.box-data {
	padding: 2px 10px;
  color: #333333;
	font-size: .9em;
	overflow: hidden;
	background-color: #ffffff;
}
TD.module {
	color: black;
}
.linkmodule {
	color: #427852;
}
.linkmodule['_'] {
color : white;
}
.linkmodule:active {
	color: #67aa78;
}
.linkmodule:hover {
	background-color: #ffffff;
	color: black;
}
div.cbox { 
  overflow : hidden;
}
div.catlists {
padding : 0;
}
div.cbox-title {
	border-bottom: 1px solid #cccccc;
	color: #999999;
	font-weight: bold;
	margin-bottom: 5px;
	overflow: hidden;
}
.cboxtlink {
	color: black;
	font-weight: bold;
}
.cboxtlink:active {
	color: #67aa78;
}
.cboxtlink:hover {
	background-color: #cccccc;
}
div.cbox-data {
  color: #666666;
  padding: 2px 10px;
}
/* Menus */
div.separator, div.separatorline {
	color: black;
	font-weight: bold;
	font-size: 110%;
	margin: 2px;
}

.separator a, 
.linkmenu, .rsslink {
	color: #427852;
	margin-left: 2px;
}
.separator a:active, 
.linkmenu:active, 
.rsslink:active {
	color: black;
}
.separator a:hover, 
.linkmenu:hover, 
.rsslink:hover {
	background-color: #ffffff;
	color: black;
}

/* Links to extend/collapse menus */
.separator {
	color: #427852;
}
.separator:active {
	color: #67aa78;
}

.separator:hover {
	background-color: #FFFFFF;
	color: black;
}

.separatorline, .optionline {
	border-top: 1px solid #dedede;
	margin-top: 3px;
	padding-top: 3px;
}
/* Links to collapse menus for example the main menu can be completely collapsed*/
.flip {
	color: #999999;
}
.flip:active {
	color: #67aa78;
}
.flip:hover {
	color: black;
}
.bannertext {
	color: black;
	font-size: 90%;
}
.bannertext:active {
	color: black;
}
.bannertext:hover {
	color: black;
	text-decoration: underline;
}
div.imagerank {
	margin: 10px 5px 10px 5px;
}
div.simplebox {
	background-color: #f6f8e6;
	color: black;
	padding: 10px;
	border: 1px solid #999999;
}
TABLE.normal, table.listgallery, table.creategalform, table.gallerylisting, table.bloglist, table.editblogform, table.editfgalform,
	table.listfgal, table.listfiles, table.listarticles, table.forumstable, table.forumformtable, table.viewthread table.jukeboxlist {
	border: 1px solid #ccc7b6;
	border-spacing: 0;
	width: 100%;
}
TABLE.normalnoborder {
	width: 100%;
}
.heading, .jukeboxlistheading, .gallistheading, .listgalheading, .bloglistheading, .listfgalheading, .listfilesheading, .listartheading,
	td.forumheading, td.thead {
	background-color: #67aa78;
	color: #ddd7c6;
	font-weight: bold;
	padding 0 5px 0 5px;
}
TD.button {
	background-color: #FFF7E6;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	vertical-align: middle;
}
td.thin {
	width: 20px;
	padding: 1px;
}
a.tablename, a.galname, a.imagename, a.jukeboxname, a.blogname, a.fgalname, a.artname, a.forumname {
	color: black;
	cursor: pointer;
}
a.tablename:hover, a.galname:hover, a.imagename:hover, a.jukeboxname:hover, a.blogname:hover, a.fgalname:hover, a.artname:hover, a.forumname:hover {
	color: #427852;
}
a.forumnameread {
	color: black;
}
.tableheading, .gallistheading, .listgalheading, .bloglistheading, .llisfgalheading, .llistfileslink, .llistart, .lforumheading {
	color: #ffffff;
	font-weight: bold;
}

.tableheading:hover, gallistheading:hover, .listgalheading:hover, .bloglistheading:hover, .llisfgalheading:hover, .llistfileslink:hover, .llistart:hover, .lforumheading:hover {
	color: #FFCC33;
}
/* General tables */
TD.form {
	color: black;
	text-align: left;
}
TD.formcolor, td.galform, td.editblogform, td.editfgalform, TD.comform, td.forumform {
	background-color: #FFF7E6;
	color: black;
	text-align: left;
}
tr.formcolor { 
	background-color: #FFF7E6;
}
tr.formcolor:hover { 
	background-color: #eee7d6;
}
tr.formcolor:hover input[type=file],
tr.formcolor:hover input[type=password],
tr.formcolor:hover input[type=text],
tr.formcolor:hover textarea { 
	background-color: #FFF7E6;
}
tr.formcolor td {
	border-top: 1px solid #ddd7c6;
	padding: 3px 20px 3px 3px;
}
tr.formcolor table td {
	font-size: 90%;
	color: #424242;
	border-top: 0;
	padding: 1px 20px 1px 3px;
}
.normal tr.formcolor:first-child td {
	border-top: 0;
}
tr.formcolor td:first-child, .formlabel {
	font-size: 90%;
	color: #424242;
	padding-top: 6px;
}
.right {
	text-align: right;
	margin-right: 3px;
}
tr.odd {
background-color: #eee7d6;
}
tr.odd:hover {
background-color: #FFF7E6;
}
tr.odd:hover a {
background-color: #FFFFFF;
color: #1c60a8;
}
tr.even {
background-color: #ddd7c6;
}
tr.even:hover {
background-color: #FFF7E6;
}
tr.even:hover a {
background-color: #FFFFFF;
color: #1c60a8;
}

TD.odd, td.gallistnameodd, td.gallistdescriptionodd, td.gallistcreatedodd, td.gallistlastModifodd, td.gallistuserodd, td.gallistimagesodd, td.gallisthitsodd, td.gallistactionsodd, td.listgalidodd, td.listgalnameodd, td.listgalcreatedodd,
td.listgalhitsodd, td.listgaluserodd, td.listgalfilesizeodd, td.bloglistnameodd, td.bloglistdescriptionodd, td.bloglistcreatedodd, td.bloglistlastModifodd, td.bloglistuserodd, td.bloglistpublicodd, td.bloglistpostsodd,
td.bloglistvisitsodd, td.bloglistactivityodd, td.bloglistactionsodd, td.listfgalnameodd, td.listfgaldescriptionodd, td.listfgalcreatedodd, td.listfgallastModifodd, td.listfgaluserodd, td.listfgalfilesodd, td.listfgalvisitsodd,
td.listfgalactionsodd, td.listfilesnameodd, td.listfilesdescriptionodd, td.listfilesidodd, td.listfilesfilenameodd, td.listfilesfilesizeodd, td.listfilescreatedodd, td.listfilesdlsodd, td.listfilesnameodd, td.listfilesuserodd,
td.listfilesactionsodd, td.listarttitleodd, td.listarttopicodd, td.listartpublishDateodd, td.listartauthorodd, td.listartreadsodd, td.listarthasimageodd, td.listartuseimageodd, td.listartactionsodd, td.listartsizeodd, td.forumstableodd,
td.forumstableinfoodd, td.topictitleodd, td.topicrepliesodd, td.topicreadsodd, td.topicscoreodd, td.topiclastpostodd, td.topicauthorodd,
td.jukeboxlistnameodd, td.jukeboxdescriptionodd, td.jukeboxcreatedodd, td.jukeboxlastmodifodd, td.jukeboxlistuserodd, td.jukeboxlisttracksodd, td.jukeboxlistvistsodd {
	background-color: #eee7d6;
}
			
TD.even, td.gallistnameeven, td.gallistdescriptioneven, td.gallistcreatedeven, td.gallistlastModifeven, td.gallistusereven, td.gallistimageseven, td.gallisthitseven, td.gallistactionseven, td.listgalideven, td.listgalnameeven, td.listgalcreatedeven, td.listgalhitseven, td.listgalusereven, td.listgalfilesizeeven, td.bloglistnameeven, td.bloglistdescriptioneven, td.bloglistcreatedeven, td.bloglistlastModifeven, td.bloglistusereven, td.bloglistpubliceven, td.bloglistpostseven, td.bloglistvisitseven, td.bloglistactivityeven, td.bloglistactionseven, td.listfgalnameeven, td.listfgaldescriptioneven, td.listfgalcreatedeven, td.listfgallastModifeven, td.listfgalusereven, td.listfgalfileseven, td.listfgalvisitseven, td.listfgalactionseven, td.listfilesnameeven, td.listfilesdescriptioneven, td.listfilesideven, td.listfilesfilenameeven, td.listfilesfilesizeeven, td.listfilescreatedeven, td.listfilesdlseven, td.listfilesnameeven, td.listfilesusereven, td.listfilesactionseven, td.listarttitleeven, td.listarttopiceven, td.listartpublishDateeven, td.listartauthoreven, td.listartreadseven, td.listarthasimageeven, td.listartuseimageeven, td.listartactionseven, td.listartsizeeven, td.forumstableeven, td.forumstableinfoeven, td.topictitleeven, td.topicreplieseven, td.topicreadseven, td.topicscoreeven, td.topiclastposteven, td.topicauthoreven, td.jukeboxlistnameeven, td.jukeboxdescriptioneven, td.jukeboxcreatedeven, td.jukeboxlastmodifeven, td.jukeboxlistusereven, td.jukeboxlisttrackseven, td.jukeboxlistvistseven {
	background-color: #ddd7c6;
}
TD.third {
	color: Black;
	background-color: #FFF7E6;
}
.pagetitle, .forumspagetitle {
	font-weight: bold;
}
a.pagetitle, a.forumspagetitle {
	font-weight: bold;
}
a.pagetitle:hover, a.forumspagetitle:hover {
	font-weight: bold;
	text-decoration: underline;
	color: #67aa78;
}
.link, .gallink, .jukeboxlink, .bloglink, .fgallink, .trailer, .opencomlink, .commentslink, .admlink, .forumbutlink {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #427852;
}
.link:active, .gallink:active, .jukeboxlink:active, .bloglink:active, .fgallink:active, .trailer:active, .opencomlink:active, .commentslink:active, .admlink:active, .forumbutlink:active {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #67aa78;
}
.link:hover, .gallink:hover, .jukeboxlink:hover, .bloglink:hover, .fgallink:hover, .trailer:hover, .opencomlink:hover, .commentslink:hover, .admlink:hover, .forumbutlink:hover {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #cccccc;
	color: black;
}
div.searchdate {
	color: Black;
}
.mini {
	font-size: 80%;
	color: Black;
}
.prevnext, .jukeboxprevnext, .galprevnext, .blogprevnext, .fgalprevnext, .artprevnext, .forumprevnext {
	padding: 0 2px 0 2px;
	color: black;
}
.prevnext:active, .jukeboxprevnext:active, .galprevnext:active, .blogprevnext:active, .fgalprevnext:active, .artprevnext:active, .forumprevnext:active {
	color: black;
}
.prevnext:hover, .jukeboxprevnext:hover, .galprevnext:hover, .blogprevnext:hover, .fgalprevnext:hover, .artprevnext:hover, .forumprevnext:hover {
	color: black;
	background-color: White;
}
span.warn {
	color: #67aa78;
}
/* ********************* THE WIKI ****************************************** */
div.titlebar {
	padding: 1px;
	margin: 1px;
	color: #427852;
	font-size: 12px;
	clear: both;
	font-weight: bold;
	border-bottom: 1px solid #1c60a8;
}
.wikitopline table {
	width: 100%;
}
.wikitopline table small {
font-weight : bold;
color : #666666;
border-top : 1px solid #cccccc;
}
DIV#page-bar {
	margin-top: 5px;
}
.button2, .button3 {
	display: inline;
	font-size: 85%;
	background-color: white;
	border: 1px solid #c0aa78;
	margin: 0px;
	margin-right: 5px;
	padding: 1px 0px 1px 0px;
}
.button3 { -moz-border-radius : 5px 5px 0 0;  }
.button3 .linkbut { -moz-border-radius : 5px 5px 0 0; padding-bottom : 2px; border-bottom : 0; }

.linkbut {
	color: #666666;
	padding: 1px 5px 1px 5px;
}
.linkbut:active {
	background-color: white;
	color: #67aa78;
}
.linkbut:hover {
	color: black;
	background-color: #CCCCCC;
}
.linkbuton {
	color: #000000;
	padding: 1px 5px 1px 5px;
}
.linkbuton:active {
	background-color: white;
	color: #67aa78;
}
.linkbuton:hover {
	color: black;
	background-color: #CCCCCC;
}
div.cache {
	background-color: #EFEFEF;
	padding-left: 1px;
	margin: 0px;
}
div.cachedpage {
	padding: 1px;
	margin: 0px;
}
.wikicache {
	font-size: 90%;
	color: #999999;
}
.wikicache:active {
	color: #67aa78;
}
.wikicache:hover {
	color: black;
}
table.wikitable {
	border-spacing: 0;
	border-bottom: 1px solid #cccccc;
}
table.wikitable tr {
	background-color: #FFF7E6;
}
table.wikitable tr:hover {
	background-color: #ffffff;
}
td.wikicell {
	padding: 2px 5px 2px 5px;
	border-spacing: 0;
	border-collapse: top;
	border-top: 1px solid #cccccc;
	border-left: 1px dashed #cccccc;
}
td.wikicell:first-child {
	border-left: 0;
}
div.wikitext {
	clear: both;
}
body.wikitext {
	margin : 5px;
}
.wiki {
	color: #427852 !important;
	font-weight : bold;
	border-bottom: 1px solid #cccccc;
}
.wiki:hover {
	color: black;
	background-color: #cccccc;
}
.editdate {
	color: black;
	font-size: smaller;
	font-style: italic;
	border-top: 1px solid #cccccc;
	color: #999999;
	margin-top: 30px;
	margin-bottom: 0px;
}
div.wiki-edithelp {
	background-color: white;
	border: 1px solid #cccccc;
	font-size: smaller;
	padding: 6px;
}
/* ********************* IMAGE GALLERIES *********************************** */
div.galdesc {
	background-color: #cccccc;
	border: 1px solid #999999;
	padding: 2px 10px 2px 10px;
	margin: 0.5ex 0px;
	clear: both;
}
div.browsegallery {
	background-color: #EFEFE7;
}
table.galtable {
	width: 100%;
}
TD.oddthumb {
	background-color: white;
}
TD.eventhumb {
	background-color: #EFEFEF;
}
div.gallerytitle {
	font-weight: bold;
	font-size: 160%;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: black;
}
div.adminoptions {
	margin: 5px 0 5px 0;;
	padding: 10px 0 10px 0;
}
div.sortoptions {
	margin: 5px 0 5px 0;;
	padding: 10px 0 10px 0;
}
span.sorttitle {
}
span.sortoptions {
}
div.thumbnails {
	border: 1px solid #666666;
	margin:  10px 0 10px 0;
}
img.athumb {
	border: 1px solid Silver;
}
.caption {
}
p.norecords {
	font-weight: bold;
}
table.imageinfo {
	border: 1px solid black;
}
td.imageinfo {
	color: Black;
	background-color: #CAD2D5;
	text-align: left;
}
div.browseimage {
	background-color: #CAD2D5;
}
div.imagetitle {
	font-weight: bold;
	font-size: 120%;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: black;
}
div.gallerylink {
}
div.showimage {
	text-align: center;
	margin:  5px 0 5px 0;
}
div.imageinfo {
	text-align: center;
	margin:  10px 0 10px 0;
}
td.imageinfo {
}
table.tableinfo {
	text-align: center;
}
div.linksinfo {
	font-size: 90%;
	color: Black;
	text-align: center;
	border: 1px solid #999999;
	margin:  10px 0 10px 0;
}
/* ********************* WEBLOGS ******************************************* */
div.posthead {
	font-size: 120%;
	color: #666666;
	font-weight: bold;
	overflow: hidden;
	border-bottom: 1px solid #cccccc;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
}
div.posthead table {
	width: 100%;
}
span.posthead {
}
.blogt { }
.blogt:active { }
.blogt:hover { }

div.blogtitle {
	border-bottom: 1px solid #cccccc;
	margin-top: 10px;
	font-size: 120%;
	clear: both;
	color: #1c60a8;
}
div.postbody {
	overflow: hidden;
	background-color: white;
	color: Black;
	padding: 5px;
	border-bottom: 1px solid #cccccc;
}
div.postbody hr {
	display: hidden;
}
div.postbody table {
	width: 100%;
}
div.bloginfo, div.blogdesc, div.blogtools {
	background-color: white;
	border-bottom: 1px solid #cccccc;
	color: #666666;
	padding: 5px;
	font-size: 90%;
	clear: both;
}
/* ********************* FILE GALLERIES ************************************ */
div.fgaldesc {
	background-color: #9cba00;
	border: 1px solid #84aa00;
	padding: 5px 10px 5px 10px;;
	margin: 0.5ex 0px;
	clear: both;
}
/* ********************* CMS *********************************************** */
div.article {
	border: 1px solid #999999;
	padding: 2px;
	margin-bottom: 10px;
}
div.articletitle {
	background-color: #eee7d6;
	font-size: 110%;
	font-weight: bold;
	padding: 0 10px 0 10px;
}
div.articleheading {
	border: 1px solid #ddd7c6;
	padding: 10px;
	clear: both;
}
div.articleheading table tr td:first-child img {
	margin-right: 20px;
}
div.articletrailer {
	padding: 0 10px 0 10px;
}
span.articleheading {
}
div.articlebody {
	padding: 5px 10px 5px 10px;;
	margin: 10px 0px;
	clear: both;
}
span.titlea {
	font-size: 120%;
	font-weight: bold;
}
span.titleb {
	font-size: 90%;
}
span.trailer {
	font-size: 90%;
	font-weight: bold;
}
/* ********************* CALENDAR ****************************************** */
.day {
	font-size: 80%;
	color: black;
}
.day:hover {
	background-color: #CCCCCC;
}
.today {
	font-size: 80%;
	color: black;
	font-weight: bold;
}
.today:hover {
	background-color: #CCCCCC;
}
.nav {
	font-size: 80%;
	color: black;
	font-weight: bold;
}
.nav:hover {
	background-color: #CCCCCC;
}
.changedate {
	font-size: 80%;
	background-color: white;
	color: black;
	font-weight: bold;
}
.date {
	font-size: 80%;
	background-color: white;
	color: Black;
	font-weight: bold;
}
/* ********************* COMMENTS ****************************************** */
#comzone {
	display: none;
	margin: 5px 1px 5px 1px;
	padding: 2px 0 2px 0;
}
#comzoneopen {
	display: block;
	margin: 5px 1px 5px 1px;
	padding: 2px 0 2px 0;
}
div.commentspost {
	display: inherit;
	border: 1px solid #999999;
	margin: 10px;
	padding: 0px;
}
div.commentsedithelp {
	background-color: white;
	border: 1px solid #999999;
	font-size: smaller;
}
div.commentstoolbar {
	background-color: #eee7d6;
	color: black;
	margin-bottom: 20px;
	border: 1px solid #999999;
	padding: 2px 0 2px 0;
}
span.commentstitle {
	font-weight: bold;
	font-size: 110%;
}
div.commentscomment {
	margin-bottom: 20px;
}
div.commentheader {
	background-color: #eee7d6;
	border: 0px solid blue;
}
div.commenttext {
	margin-left: 5px;
}
.commentshlink {
	color: black;
}
.commentshlink:hover {
	text-decoration: underline;
}
.subcomment {margin-left: 10px; }
/* ********************* CHAT ********************************************** */
table.chatroom {
	border-color: #999999;
	border-style: solid;
	border-width: 2px;
	width: 100%;
}
td.chatchannels {
	background-color: #EFEFEF;
	font-size: 11px;
	color: black;
}
td.chatarea {
	padding-left: 0px;
	margin-left: 0px;
	color: black;
	background-color: white;
}
table.chatform {
	border-color: #5E4860;
	border-style: solid;
	border-width: 2px;
	width: 100%;
	border-top: 0px;
}
td.tdchatform {
	color: Black;
	background-color: #EFEFEF;
	text-align: left;
}
span.chnormal {
	color: #67aa78;
}
span.chuser {
	color: blue;
	font-weight: bold;
}
/* ********************* POLLS ********************************************* */
div.pollresults {
	background-color: white;
	border: 1px solid #999999;
	margin-top: 5px;
	font-size: 120%;
	padding-left: 5px;
}
table.pollresults {
	width: 100%;
}
td.pollr {
	color: black;
}
/* ********************* FORUMS ******************************************** */
div.forumspagetitle {
	margin-top: 10px;
	margin-bottom: 40px;
}
table.threads {
	width: 100%;
}
td.viewthreadl {
	background-color: #FFF7E6;
	height: 30px;
	width: 30%;
	vertical-align: top;
}
td.viewthreadr {
	background-color: #FFF7E6;
	height: 30px;
}
td.threadsevenl {
	width: 30%;
	background-color: #FFF7E6;
}
td.threadsevenr {
	background-color: white;
}
td.threadsoddl {
	width: 30%;
	background-color: #FFF7E6;
}
td.threadsoddr {
	background-color: white;
}
td.threadseparator {
	background-color: #999999;
	height: 5px;
}
#forumpost {
	display: none;
}
#forumpostopen {
	display: block;
}
#formenu {
	display: none;
}
div.forumtoolbar {
	background-color: #FFF7E6;
	margin-bottom: 20px;
	border: 0px;
}
td.forumtoolbar {
	color: black;
	font-weight: bold;
	vertical-align: bottom;
}
.toolbarlink {
	color: white;
	font-weight: bold;
}
.forumvotelink {
	color: black;
}
/* ********************* CATEGORIES **************************************** */

.categpath {
	font-weight: bold;
	color: #1c60a8;
}
.categpath:active {
	color: #990000;
}
.categpath:hover {
	color: #000000;
}
table.subcats {
	padding: 20px 0 20px 0;
	width: 100%;
	border-spacing: 0px;
	margin-bottom: 10px;
	border: 1px solid black;
}
td.tdsubcat {
	width: 25%;
}
.categlink {
	color: black;
	font-weight: bold;
}
table.catobjects {
	border-spacing: 0px;
	margin-bottom: 10px;
	padding-right: 0px;
	width: 100%;
}
td.categobjectsnameeven, td.categobjectsdataeven {
	background-color: white;
}
td.categobjectsnameodd, td.categobjectsdataodd {
	background-color: #FFF7E6;
}
.catname {
	padding: 1px 10px 1px 10px;
	color: black;
}
.catname:hover {
	text-decoration: underline;
}
div.tree {
	text-align: left;
	margin: 10px;
}
div.tree#top {
	border: 1px solid #aeaeae;
}
div.treetitle {
	color: #666666;
	background-color: #ededed;
	padding: 2px 10px 2px 10px;
}
.treenode {
	border-top: 1px solid #dedede;
}
.treenode table {
	border-spacing: 0;
}
.treenode table tr {
	background-color: none;
}
.treenode table tr:hover {
	background-color: #dedede;
}
.tree .treenode:first-child {
	border-top: 1px solid #999999;
}
.treenode:hover {
	background-color: #dedede;
}
.treenodeselect {
	background-color: #eee7d6;
}
/* ********************* FAQS ********************************************** */
div.faqlistquestions {
	background-color: #FFF7E6;
	border: 1px solid #999999;
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}
div.faqqa {
	background-color: #FFF7E6;
	border: 1px solid #999999;
	color: black;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
div.faqquestion {
	margin-bottom: 5px;
}
div.faqanswer {
}
/* ********************* QUIZZES ******************************************* */
div.questionblock {
	background-color: #FFF7E6;
	border: 1px solid #666666;
	padding: 0px;
	margin-bottom: 10px;
	width: 600px;
}
div.quizquestion {
	background-color: #1c60a8;
	color: #ffffff;
	padding: 10px;
	margin-bottom: 5px;
}
div.quizoptions {
	padding: 10px;
}
div.quizdescription {
	margin-bottom: 20px;
	width: 600px;
}
div.quizanswer {
	background-color: white;
	border: 1px solid #999999;
	padding-left: 2px;
	margin-bottom: 10px;
}
/* ********************* SHOUTBOX ****************************************** */
div.shoutboxmsg {
	margin-bottom: 0px;
}
div.shoutboxmodmsg {
	color: #333333;
	font-size: 90%;
	margin-bottom: 4px;
}
textarea.tshoutbox {
	color: #666666;
	width: 100%;
}
/* calendar styles */
table#caltable
{
width: 100%;
}
.Cal0, .Cal1, .Cal2 {
	border-top: 1px dashed #cccccc;
	color: #425262;
	font-size: 90%;
	padding-right: 0px;
}

.Cal0:before {
	content: "? ";
}

.Cal1:before {
	background-color: #FFCC77;
	content: "+ ";
}

.Cal2:before {
	background-color: #eeeeaa;
	content: "X ";
}
/* misc cal styles */
.caltitle {
	font-weight: bold;
	color: #425262;
}

.caltab {
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #666666;
	border-bottom: 2px solid #aeaeae;
	margin-right: 6px;
}

a.caltab {
	text-decoration: none;
	font-weight: bold;
	background-color: #dedede;
	color: #000000;
}

a.caltab:hover {
	background-color: #efefaf;
	border-bottom: 2px solid #dedede;
}

.caltabon {
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ffffff;
	border: 1px solid #666666;
	border-bottom: 2px solid #FFFFFF;
	margin-right: 6px;
}

a.caltabon {
	font-weight: bold;
	color: #000000;
}

a.caltabon:hover {
	background-color: transparent;
}

div#tab, div#tabcal, div#tabnav {
	margin-top: 10px;
	margin-left: 30px;
}

div#tab {
	margin-bottom: 1px;
}

div.tabcal, div.tabnav {
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #666666;
	border-bottom: 1px solid #aeaeae;
}

div.tabrow {
margin-left: 29px;
background-color: #efefef;
border: 1px solid #787878;
border-bottom: 0;
}
td.middle {
	vertical-align: middle; 
}
div.tabrow table {
padding: 0;
border-spacing: 0;
width: 100%;
}
.daterow {
	margin-left: 10px;
	font-weight: bold;
	margin-left: 3px;
	border: 1px outset black;
	padding: 1px 5px 1px 5px;
	font-size: 90%;
	background-color: #e3d4a8;
}
.daterow:hover {
  background-color : #fff;
  cursor : pointer;
}
.daterow:active {
  border : 1px inset #ddd;
}
.mininotes {
	font-size: 80%;
	color:#666666;
}

/* checkboxes background is required for rollover display */
.calcheckbox {
	background-color: #ffffff;
}

.caltoggle {
	font-size: 80%;
	margin-bottom: 7px;
}

/* style of the popup background in case of transparent styles */
.opaque {
	background-color: white;
	padding: 5px;
	border: 1px solid #666666;
}
.opaque .box-title,
.opaque .box-data 
{
width: 200px;
}

.calfocus {
	font-size: 90%;
	background-color: transparent;
}

.calfocus a {
	color: #000000;
}

.calfocuson {
	font-size: 90%;
	background-color: #f3e498;
}

.calfocuson a {
	color: #000000;
}
.calcontent {
min-height: 60px;
}

.Calwiki {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	margin-top: 0;
	padding-left: 3px;
	padding-right: 3px;
}

.Calwiki a {
	color: #443F39;
}

.Calwiki:before {
	background-color: white;
	content: "w";
	font-family: monospace;
}

.Calblog {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Calblog a {
	color: #443039;
}

.Calblog:before {
	background-color: white;
	content: "b";
	font-family: monospace;
}

.Calgal {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Calgal a {
	color: #303F49;
}

.Calgal:before {
	background-color: white;
	content: "i";
	font-family: monospace;
}

.Calart {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Calart a {
	color: #304F30;
}

.Calart:before {
	background-color: white;
	content: "a";
	font-family: monospace;
}

.Calforum {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Calforum a {
	color: #304F30;
}

.Calforum:before {
	background-color: white;
	content: "o";
	font-family: monospace;
}

.Caldir {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Caldir a {
	color: #304F30;
}

.Caldir:before {
	background-color: white;
	content: "d";
	font-family: monospace;
}

.Calfgal {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Calfgal a {
	color: #304F30;
}

.Calfgal:before {
	background-color: white;
	content: "f";
	font-family: monospace;
}

.Calfaq {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Calfaq a {
	color: #304F30;
}

.Calfaq:before {
	background-color: white;
	content: "q";
	font-family: monospace;
}

.Calquiz {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Calquiz a {
	color: #304F30;
}

.Calquiz:before {
	background-color: white;
	content: "z";
	font-family: monospace;
}

.Caltrack {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Caltrack a {
	color: #304F30;
}

.Caltrack:before {
	background-color: white;
	content: "t";
	font-family: monospace;
}

.Calsurv {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Calsurv a {
	color: #304F30;
}

.Calsurv:before {
	background-color: white;
	content: "s";
	font-family: monospace;
}

.Calnl {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Calnl a {
	color: #304F30;
}

.Calnl:before {
	background-color: white;
	content: "n";
	font-family: monospace;
}

.Caleph {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Caleph a {
	color: #304F30;
}

.Caleph:before {
	background-color: white;
	content: "e";
	font-family: monospace;
}

.Calchart {
	border-top: 1px dashed #cccccc;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}

.Calchart a {
	color: #304F30;
}
.Calchart:before {
	background-color: white;
	content: "c";
	font-family: monospace;
}
.viewmodeon {
	padding-left: 0;
	padding-right: 0;
}
.viewmodeoff {
	padding-left: 0px;
	padding-right: 0px;
}
.viewmodeoff:hover {
	background-color: #f2f6e5;
	color: black;
}
.calweb {
	color: black;
	font-weight: bold;
	font-size: 90%;
	padding-left: 3px;
	padding-right: 3px;
}
.calweb:hover {
	color: #996633;
}
#calprio
{
margin-left: 7px;
padding-left: 5px;
padding-right: 5px;
color: black;
}
.calprio1 { background-color: #DAE0E0; }
.calprio2 { background-color: #DADCDC; }
.calprio3 { background-color: #DAD0D0; }
.calprio4 { background-color: #DACACA; }
.calprio5 { background-color: #DAC0D0; }
.calprio6 { background-color: #DABABA; }
.calprio7 { background-color: #DAB0B0; }
.calprio8 { background-color: #DAAAAA; }
.calprio9 { background-color: #DA9A9A; }
.calprio1 a, .calprio2 a, .calprio3 a, .calprio4 a, .calprio5 a, 
.calprio6 a, .calprio7 a, .calprio8 a, .calprio9 a { color: #000000; }
#opaque { background-color: #ffffff; }

div#edithelpzone {
	display: none;
}
div#attzone {
	display: none;
	margin-top: 10px;
}
div#attzoneopen {
	display: block;
	margin-top: 10px;
}
.highlight {
	color: #333333;
}
/*
 * Caption in tables.
 * Currently in Attachments and comments only.
 */
caption {
	font-weight: bold;
	text-align: right;
}
/* Wiki editpage textarea */
textarea.wikiedit {
	width: 100%;
}
/* help links style */
a.tikihelp, a.tikihelp:visited {
	color: inherit;
	border: inherit;
	background-color: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
	padding: inherit;
	text-decoration: inherit;
}
a.tikihelp:hover {
	color: #9cba00;
	border: inherit;
	background-color: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
	padding: inherit;
	cursor: help;
	text-decoration: inherit;
}

div#rules-copy-panel {
	display: none;
}
TABLE.admin { 
	width: 100%; 
}
.admin tbody tr {
	background-color: none;
}
.admin tbody  tr:hover {
	background-color: #eee7d6;
}

table.commentinfo { width: 100%; background-color: #FFF7E6; }
div#loadstats {
	font-size: .8em;
	color: #666666;
	padding: 0 5px;
	display : inline;
}

/* phplayers style */
.box-data table {
	width: 100%;
}
.mdkverbar	{
	margin: 0px;
}

.mdksubmenu	{
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #cccccc;
	visibility: hidden;
}
.mdksubmenu table {
	width: auto;
}

.mdksubframe	{
	z-index: 1000;
	position: relative;
	display: block;
	border: 1px outset #fdfefd;
}

.mdkitem	{
	border-top: 1px solid #dedede;
	position: relative;
	text-align: left;
	white-space: nowrap;
}

.mdkitem a	{
	padding: 2px 5px 2px 5px;
	color: #1c60a8;
	position: relative;
	display: block;
	text-decoration: none;
}

.mdkitem a:link	{
	color: #1c60a8;
}

.mdkitem a:visited	{
	color: #1c60a8;
}

.mdkitem a:hover	{
	color: #000000;
	background-color: #ffffff;
}

.mdkitem a:active	{
	color: #ff0000;
}

.mdkitem .mdkfwdarr	{
	position: absolute;
	top: 5px;
	right: 12px;
}

.toc {
}
.toc li {
	margin-top: 3px;
}
.tocnav {
	background-color: #ededed;
	margin-bottom: 16px;
}
.tocnav table {
	width: 100%;
	background-color: #ffffff;
}
.tocnav a {
	font-size: 90%;
	color: #424242;
}
/* for jscalendar */
.calendar {
	z-index: 200;
}

/* ASSORTED  */

#clear {
	clear:both;
	}

.treemenudiv	{
	display: block;
	white-space: nowrap;
	font-size: 110%;
}
a.phplm	{
	color: #000000;
	text-decoration: none;
}
a.phplm:hover	{
	background-color: #dedede;
}

/* tiki tabs */

.tabmark {
	display: inline;
	font-size: 85%;
	background-color: #ddd7c6;
	border: 1px solid #666666;
	margin: 0px;
	margin-right: 5px;
	padding: 1px 0px 1px 0px;
	-moz-border-radius : 5px 5px 0 0;  
}
.tabmark a { 
	-moz-border-radius : 5px 5px 0 0; 
	border-bottom : 0; 
	color: #666666;
	font-weight: 700 !important;
	padding: 1px 5px 1px 5px;
}
.tabmark a:active {
	background-color: white;
	color: #67aa78;
}
.tabmark a:hover {
	color: black;
	background-color: #CCCCCC;
}

.tabcontent {
	z-index : 200;
	position: relative;
	border: 1px solid #999999;
	padding: 6px 2px 2px 2px;
	margin-bottom: 25px;
	background-color: #eee7d6;
	-moz-border-radius: 0px 4px 4px 4px;
}
.tabcontent h3 {
	margin-left: 3px;
}
.tabcontent table tr td:first-child {
	width: 100px;
}
.tabcontent table tr td.thin:first-child {
	width: 20px;
}
.tabcontent table tr td.auto:first-child {
	width: auto;
}
.tabcontent input[type=text],
.tabcontent textarea {
	width: 100%;
}


/* trackers specific style */

.statuson {
  padding: 1px;
  margin: 1px;
  border: 1px inset #666666;
  -moz-border-radius: 20px;
  vertcal-align: middle;
  background-color: #bbaa99;
}
.statusoff {
  padding: 1px;
  margin: 2px;
  vertcal-align: middle;
}

/**** coloration for c o d e plugin *****/
.codelisting { 
font-family : monospace; 
padding-top : 2.5ex;
padding : 2ex; 
background-color : #f6f8e6; 
margin : 1ex; 
border : 1px dashed #adacaf;
}
.codecaption {
font-size : smaller;
font-weight : bold;
margin : 1ex; 
padding : .5ex 2ex;
background-color : #f6f8e6;
position : relative;
bottom : -2ex;
display : inline;
border : 1px dashed #adacaf; 
border-bottom : 0;
}

/* Version Plugin Style */

.versions {
border-top : 1px dashed #999999;
border-bottom : 1px dashed #999999;
min-height : 142px;
}
.versionav {
display : inline;
float : right;
border-left : 1px dashed #999999;
}
.versionav .button2 {
display : block;
border : 0;
border-bottom : 1px dashed #999999;
background-color : none;
}
.versionav .button2 .linkbut {
border : 0;
background-color : inherit;
padding : 0 10px;
}
.versionav .highlight {
background-color : #cccccc;
font-weight : bold;
}
.versiontitle {
font-weight : bold;
border-bottom : 1px dashed #999999;
border-left : 1px dashed #999999;
padding : 2px 30px;
float : right;
}

/* tiki-admin menu */
div.admbox {
  border: 2px solid #427852; height: 100px; width: 100px;
  text-align: center; float: left; margin: 5px; font-size: 10pt;
}
div.admbox:hover { background-color: #DFE7DF; color: black; }
div.admbox img { margin-top: 20px; }

.tellafriend {text-align:right;}

.highlight_word_0{color:black;background-color: #ffff66;}
.highlight_word_1{color:black;background-color: #ff9999;}
.highlight_word_2{color:black;background-color: #A0FFFF;}
.highlight_word_3{color:black;background-color: #ff66ff;}
.highlight_word_4{color:black;background-color: #99ff99;}

/* Lists in modules */
.box-data ol,
.box-data ul {margin-left: -1em;padding-right: 1em}
/* IE */
* html .box-data ol {	margin-left: 3em;}
* html .box-data ul {	margin-left: 2em;}
/* IE7 */
*:first-child+html .box-data ol,
*:first-child+html .box-data ul {margin-left: 2em;}

/* Module-flip img */

h3.box-title {
	position: relative;
}

.box a.flipmodtitle img {
	display: block;
	position: absolute;
	right: 2px;
	top: 2px;
	border: 1px solid transparent;
}

a.flipmodtitle:hover img {
	border: 1px solid #f7f8f4 !important;
}
/* end of css file */
