<a class="link" href="galaxia_monitor_processes.php">
 <img border='0' 
  src='./img/galaxia/icons/Process.gif' 
  alt='{tr}monitor{/tr}' 
  title='{tr}monitor processes{/tr}' />
</a>

<a class="link" href="galaxia_monitor_activities.php">
 <img border='0' 
  src='./img/galaxia/icons/Activity.gif' 
  alt='{tr}monitor{/tr}' 
  title='{tr}monitor activities{/tr}' />
</a>

<a class="link" href="galaxia_monitor_instances.php">
 <img border='0' 
  src='./img/galaxia/icons/Instance.gif' 
  alt='{tr}monitor{/tr}' 
  title='{tr}monitor instances{/tr}' />
</a>

<a class="link" href="galaxia_monitor_workitems.php">
 <img border='0' 
  src='./img/galaxia/icons/memo.gif' 
  alt='{tr}monitor{/tr}' 
  title='{tr}monitor workitems{/tr}' />
</a>

{*separator*} |

<a class="link" href="galaxia_admin_processes.php">
 <img border='0' 
  src='./img/galaxia/icons/Process.gif'
  alt='{tr}admin{/tr}' 
  title='{tr}edit{/tr}' />{tr}edit{/tr}
</a>
