<a class="link" href="galaxia_user_processes.php"><img border='0' src='./img/galaxia/icons/Process.gif' alt='{tr}processes{/tr}' title='{tr}user processes{/tr}' /></a>
<a class="link" href="galaxia_user_activities.php"><img border='0' src='./img/galaxia/icons/Activity.gif' alt='{tr}processes{/tr}' title='{tr}user activities{/tr}' /></a>
<a class="link" href="galaxia_user_instances.php"><img border='0' src='./img/galaxia/icons/Instance.gif' alt='{tr}processes{/tr}' title='{tr}user instances{/tr}' /></a>
